.NOLIST
#define     equ             .equ
#define     EQU             .equ
#define     END             .end
.LIST

#define bcall(xxxx)     rst 28h    \ .dw xxxx
#define bcallz(xxxx)    jr nz,$+5  \ rst 28h  \ .dw xxxx
#define bcallnz(xxxx)   jr  z,$+5  \ rst 28h  \ .dw xxxx
#define bcallc(xxxx)    jr  nc,$+5 \ rst 28h  \ .dw xxxx
#define bcallnc(xxxx)   jr  c,$+5  \ rst 28h  \ .dw xxxx
#define bjump(xxxx)     call 50h   \ .dw xxxx
pagedBuf               equ     983Ah
iMathPtr5              equ     84DBh
pagedCount             equ     9834h
arcInfo                equ     83EEh
_JErrorNo              equ     4000h
_RunIndicOff           equ     4570h
_homeup                equ     4558h
_ClrScrnFull           equ     4546h
contrast               equ     8447h
timer1max              equ     8A3Bh
timer2                 equ     8A3Ch
timer2max              equ     8A3Dh
timer3                 equ     8A3Eh
statVars               equ     8A3Ah
_GrBufClr              equ     4BD0h
penCol                 equ     86D7h
penRow                 equ     86D8h
_VPutS                 equ     4561h
_GetCSC                equ     4018h
saveSScreen            equ     86ECh
appBackUpScreen        equ     9872h
_BufClr                equ     5074h
flashByte1             equ     9867h
plotSScreen            equ     9340h
_SetXXXXOP2            equ     4792h
_OP2ToOP1              equ     4156h
_DispOP1A              equ     4BF7h

.org        9D93h

     .db 0BBh, 6Dh
     xor  a       
     jr   nc, Label1

Str1:
     .db  "Chambers - A Roguelike", 00h

Label1:
     set  2, (iy+0Dh)
     di           
     in   a, (06h)  
     push af      
     in   a, (02h)  
     rla          
     jp   c, Label5
     call Label6

Label6:
     pop  hl      
     ld   de, 0012h
     add  hl, de  
     ex   de, hl  
     ld   hl, Str2
     ld   bc, 000Bh
     add  hl, bc  
     ld   (hl), e 
     inc  hl      
     ld   (hl), d 
     jr   Label7

Label8:
     ld   a, 1Bh
     out  (06h), a  
     ld   hl, 05092h
     ld   e, (hl) 
     inc  hl      
     ld   d, (hl) 
     inc  hl      
     ld   a, (hl) 
     sub  60h
     out  (06h), a  
     ex   de, hl  
     ld   a, 0CCh
     ld   bc, 0FFFFh
     cpir         
     ld   e, (hl) 
     inc  hl      
     ld   d, (hl) 
     push de      
     pop  ix      
     ld   hl, 09898h
     ld   (hl), 0C3h
     inc  hl      
     ld   de, Str3
     ld   (hl), e 
     inc  hl      
     ld   (hl), d 
     ld   hl, pagedBuf
     ld   (hl), 98h
     ld   de, 0983Bh
     ld   bc, 0031h
     ldir         
     ld   (iMathPtr5), sp 
     ld   hl, (iMathPtr5) 
     ld   de, 09A00h
     ld   bc, 0032h
     ldir         
     ld   de, (iMathPtr5) 
     ld   hl, 0FFF4h
     add  hl, de  
     ld   (iMathPtr5), hl 
     ld   iy, 0031h
     ld   a, 32h
     ld   (pagedCount), a  
     ld   a, 08h
     ld   (arcInfo), a  
     jp   (ix)    

Str3:
     .db  0FDh
     .db  "!", 0F0h, 89h, 2Ah, 0DBh, 84h, 11h, 0Ch, 00h, 19h, 0F9h, 0EBh
     .db  "!", 00h, 9Ah, 01h
     .db  "2", 00h, 0EDh, 0B0h
     .db  ">", 07h, 0D3h, 05h
     .db  ">", 1Fh, 0D3h, 06h, 0C9h

Label7:
     call Label8
     call Label9

Label9:
     pop  hl      
     ld   de, 0012h
     add  hl, de  
     ex   de, hl  
     ld   hl, Str2
     ld   bc, 001Ch
     add  hl, bc  
     ld   (hl), e 
     inc  hl      
     ld   (hl), d 
     jr   Label10

Label12:
     ld   hl, _JErrorNo

Label11:
     ld   a, 0EDh
     cpir         
     ld   a, 56h
     cpi          
     jr   nz, Label11
     ld   a, 0F3h
     cpi          
     jr   nz, Label11
     ld   a, 0D3h
     cpi          
     jr   nz, Label11
     ld   a, 16h
     cpi          
     jr   nz, Label11
     ld   a, 0F3h
     cpi          
     jr   nz, Label11
     ld   a, 0C9h
     cpi          
     jr   nz, Label11
     ld   de, 0FFF7h
     add  hl, de  
     ret          

Label10:
     call Label12
     xor  a       
     ld   de, Str4
     push de      
     jp   (hl)    

Str4:
     .db  0EFh
     .db  "<O", 0F1h, 0D3h, 06h, 0C3h, 0C7h, 9Eh

Label5:
     ld   a, 83h
     out  (06h), a  
     ld   hl, _JErrorNo
     ld   de, Str5
     ld   b, h    
     ld   c, l    

Label14:
     ld   a, (de) 
     ldi          
     dec  hl      
     ld   (hl), a 
     inc  hl      
     jp   pe, Label14
     ld   a, 03h
     out  (05h), a  
     pop  af      
     out  (06h), a  
     ei           
     in   a, (02h)  
     rla          
     sbc  a, a    
     out  (20h), a  
     ld   l, a    
     ld   h, a    
     bcall(_RunIndicOff)     
     res  5, (iy+00h)
     bcall(_homeup)     
     bcall(_ClrScrnFull)     
     set  7, (iy+14h)
     ld   a, (contrast)  
     add  a, 18h
     ld   l, a    
     ld   h, 00h
     ld   a, l    
     ld   (08A4Ah), a  
     ld   hl, 0001h
     ld   a, l    
     ld   (08A5Ch), a  

Label50:
     ld   hl, 0001h
     ld   a, l    
     ld   (timer1max), a  
     ld   hl, 0000h
     ld   a, l    
     ld   (timer2), a  
     ld   hl, 0005h
     ld   a, l    
     ld   (timer2max), a  
     call Label15
     ld   h, 00h
     ld   a, l    
     and  03h
     ld   l, a    
     inc  hl      
     ld   a, l    
     ld   (timer3), a  
     ld   hl, 0000h
     ld   a, l    
     ld   (08A3Fh), a  
     ld   hl, 0062h
     ld   a, l    
     ld   (08A43h), a  
     ld   hl, 0001h
     ld   a, l    
     ld   (08A46h), a  
     ld   hl, 0000h
     ld   a, l    
     ld   (08A47h), a  
     ld   hl, 0000h
     ld   a, l    
     ld   (08A57h), a  
     ld   hl, 0000h
     ld   a, l    
     ld   (08A58h), a  
     ld   hl, 0000h
     ld   a, l    
     ld   (08A59h), a  
     ld   hl, 0000h
     ld   a, l    
     ld   (08A5Dh), a  
     ld   hl, 0008h
     ld   a, l    
     ld   (08A4Ch), a  
     call Label15
     ld   de, 0009h
     call Label16
     inc  hl      
     ld   a, l    
     ld   (08A4Dh), a  
     ld   hl, 0014h
     jr   Label17

Label19:
     ld   hl, (089E8h) 
     inc  hl      

Label17:
     ld   (089E8h), hl 
     ex   de, hl  
     ld   hl, 001Ch
     or   a       
     sbc  hl, de  
     jp   c, Label18
     ld   hl, 0000h
     push hl      
     ld   hl, (089E8h) 
     ld   de, statVars
     add  hl, de  
     pop  de      
     ld   (hl), e 
     jr   Label19

Label18:
     ld   hl, (08A5Ch) 
     xor  a       
     ld   h, a    
     or   l       
     jp   z, Label20
     bcall(_GrBufClr)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0002h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str6
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 000Ah
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str7
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0012h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str8
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 001Ah
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str9
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0022h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str10
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0032h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str11
     bcall(_VPutS)     
     call Label21
     call Label22
     ld   hl, (08A3Fh) 
     ld   h, 00h
     ld   a, l    
     sub  0Fh
     or   h       
     sub  01h
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label23
     bcall(_GrBufClr)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0002h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str12
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 000Ah
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str13
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 001Ah
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str14
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0032h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str11
     bcall(_VPutS)     
     call Label21
     call Label22

Label23:
     ld   hl, (08A3Fh) 
     ld   h, 00h
     ld   a, l    
     sub  0Fh
     or   h       
     sub  01h
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label24
     bcall(_GrBufClr)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0002h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str15
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 000Ah
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str16
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0012h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str17
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 001Ah
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str18
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0022h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str19
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0032h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str11
     bcall(_VPutS)     
     call Label21
     call Label22

Label24:
     ld   hl, (08A3Fh) 
     ld   h, 00h
     ld   a, l    
     sub  0Fh
     or   h       
     sub  01h
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label20
     bcall(_GrBufClr)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0002h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str20
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 000Ah
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str21
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0012h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str22
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0022h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str23
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0032h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str11
     bcall(_VPutS)     
     call Label21
     call Label22
     ld   hl, (08A3Fh) 
     ld   h, 00h
     ld   a, l    
     sub  0Fh
     or   h       
     sub  01h
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label25
     bcall(_GrBufClr)     
     ld   hl, Str24
     call Label26
     call Label22

Label25:
     bcall(_GrBufClr)     

Label20:
     ld   hl, 0000h
     ld   a, l    
     ld   (08A5Ch), a  
     ld   hl, 0001h
     ld   a, l    
     ld   (08A4Bh), a  

Label34:
     call Label27

Label45:
     ld   hl, (08A3Fh) 
     ld   h, 00h
     ld   a, l    
     sub  0Fh
     or   h       
     sub  01h
     sbc  hl, hl  
     inc  hl      
     push hl      
     ld   hl, (08A4Bh) 
     xor  a       
     cp   l       
     sbc  hl, hl  
     inc  hl      
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     push hl      
     ld   hl, (timer2max) 
     ld   h, 00h
     ld   a, l    
     or   h       
     jr   z, Label28
     ld   hl, 0001h

Label28:
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     push hl      
     ld   hl, (08A58h) 
     xor  a       
     cp   l       
     sbc  hl, hl  
     inc  hl      
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     jp   z, Label29
     call Label30
     call Label31
     ld   hl, (08A4Bh) 
     ld   h, 00h
     ld   a, l    
     dec  a       
     or   h       
     jr   z, Label32
     sbc  hl, hl  

Label32:
     ld   a, h    
     or   l       
     jp   z, Label33
     jr   Label34

Label33:
     ld   hl, (08A55h) 
     ld   h, 00h
     ld   a, l    
     sub  14h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     push hl      
     ld   hl, (08A51h) 
     ld   h, 00h
     ld   a, h    
     dec  l       
     or   l       
     jr   z, Label35
     ld   hl, 0001h

Label35:
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     push hl      
     ld   hl, (08A54h) 
     ld   h, 00h
     xor  a       
     ld   h, a    
     inc  a       
     and  l       
     ld   l, a    
     ld   a, l    
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     jp   z, Label36
     ld   hl, (08A47h) 
     xor  a       
     ld   h, a    
     or   l       
     jp   z, Label37
     ld   hl, (timer2max) 
     ld   h, 00h
     inc  hl      
     ld   a, l    
     ld   (timer2max), a  
     jp   Label36

Label37:
     ld   hl, (timer2max) 
     ld   h, 00h
     dec  hl      
     ld   a, l    
     ld   (timer2max), a  

Label36:
     ld   hl, (08A54h) 
     ld   h, 00h
     xor  a       
     ld   h, a    
     inc  a       
     and  l       
     ld   l, a    
     ld   a, l    
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     push hl      
     ld   hl, (08A51h) 
     ld   h, 00h
     ld   a, h    
     dec  l       
     or   l       
     jr   z, Label38
     ld   hl, 0001h

Label38:
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     or   h       
     jp   z, Label39
     call Label40
     ld   hl, (08A54h) 
     xor  a       
     ld   h, a    
     or   l       
     jp   z, Label41
     ld   hl, (08A54h) 
     ld   h, 00h
     inc  hl      
     ld   a, l    
     ld   (08A54h), a  

Label41:
     jp   Label42

Label39:
     ld   hl, (08A54h) 
     ld   h, 00h
     xor  a       
     ld   de, 0FFF8h
     add  hl, de  
     ld   h, a    
     rla          
     ld   l, a    
     or   h       
     jp   z, Label43
     ld   hl, 0000h
     ld   a, l    
     ld   (08A54h), a  
     jp   Label42

Label43:
     ld   hl, (08A51h) 
     xor  a       
     ld   h, a    
     or   l       
     jp   z, Label44
     ld   hl, 0000h
     ld   a, l    
     ld   (08A51h), a  
     jp   Label42

Label44:
     ld   hl, (08A54h) 
     ld   h, 00h
     inc  hl      
     ld   a, l    
     ld   (08A54h), a  

Label42:
     jp   Label45

Label29:
     ld   hl, (08A3Fh) 
     ld   h, 00h
     ld   a, l    
     sub  0Fh
     or   h       
     sub  01h
     sbc  hl, hl  
     inc  hl      
     push hl      
     ld   hl, (08A58h) 
     ld   h, 00h
     ld   a, h    
     dec  l       
     or   l       
     jr   z, Label46
     ld   hl, 0001h

Label46:
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     or   h       
     jp   z, Label47
     call Label30
     call Label48
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0002h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str25
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 000Ah
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str26
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0012h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str27
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 001Ah
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str28
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0022h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str29
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0032h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str30
     bcall(_VPutS)     
     call Label21
     call Label22

Label47:
     ld   hl, (08A3Fh) 
     ld   h, 00h
     ld   a, l    
     sub  30h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label49
     jp   Label50

Label49:
     ld   hl, (08A58h) 
     ld   h, 00h
     ld   a, l    
     dec  a       
     or   h       
     jr   z, Label51
     sbc  hl, hl  

Label51:
     ld   a, h    
     or   l       
     jp   z, Label52
     bcall(_GrBufClr)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0002h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str31
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 000Ah
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str32
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0012h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str33
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 001Ah
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str34
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0022h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str35
     bcall(_VPutS)     
     call Label21
     ld   hl, 07530h

Label53:
     djnz Label53
     dec  hl      
     ld   a, l    
     or   h       
     jr   nz, Label53
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0032h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str11
     bcall(_VPutS)     
     call Label21
     call Label22
     bcall(_GrBufClr)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0002h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str36
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 000Ah
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str37
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0012h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str38
     bcall(_VPutS)     
     call Label21
     ld   hl, 03A98h

Label54:
     djnz Label54
     dec  hl      
     ld   a, l    
     or   h       
     jr   nz, Label54
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 001Ah
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str39
     bcall(_VPutS)     
     call Label21
     ld   hl, 02710h

Label55:
     djnz Label55
     dec  hl      
     ld   a, l    
     or   h       
     jr   nz, Label55
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0022h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str40
     bcall(_VPutS)     
     call Label21
     ld   hl, 02710h

Label56:
     djnz Label56
     dec  hl      
     ld   a, l    
     or   h       
     jr   nz, Label56
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0032h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str11
     bcall(_VPutS)     
     call Label21
     call Label22
     bcall(_GrBufClr)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0002h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str41
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 000Ah
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str42
     bcall(_VPutS)     
     call Label21
     ld   hl, 02710h

Label57:
     djnz Label57
     dec  hl      
     ld   a, l    
     or   h       
     jr   nz, Label57
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0012h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str43
     bcall(_VPutS)     
     call Label21
     ld   hl, 02710h

Label58:
     djnz Label58
     dec  hl      
     ld   a, l    
     or   h       
     jr   nz, Label58
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 001Ah
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str44
     bcall(_VPutS)     
     call Label21
     ld   hl, 02710h

Label59:
     djnz Label59
     dec  hl      
     ld   a, l    
     or   h       
     jr   nz, Label59
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0022h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str45
     bcall(_VPutS)     
     call Label21
     ld   hl, 02710h

Label60:
     djnz Label60
     dec  hl      
     ld   a, l    
     or   h       
     jr   nz, Label60
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0032h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str11
     bcall(_VPutS)     
     call Label21
     call Label22
     bcall(_GrBufClr)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0002h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str46
     bcall(_VPutS)     
     call Label21
     ld   hl, 04E20h

Label61:
     djnz Label61
     dec  hl      
     ld   a, l    
     or   h       
     jr   nz, Label61
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 000Ah
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str47
     bcall(_VPutS)     
     call Label21
     ld   hl, 02710h

Label62:
     djnz Label62
     dec  hl      
     ld   a, l    
     or   h       
     jr   nz, Label62
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0012h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str48
     bcall(_VPutS)     
     call Label21
     ld   hl, 02710h

Label63:
     djnz Label63
     dec  hl      
     ld   a, l    
     or   h       
     jr   nz, Label63
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0022h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str49
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 002Ah
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str50
     bcall(_VPutS)     
     call Label21
     ld   hl, 03A98h

Label64:
     djnz Label64
     dec  hl      
     ld   a, l    
     or   h       
     jr   nz, Label64
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0032h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str11
     bcall(_VPutS)     
     call Label21
     call Label22
     call Label48
     bcall(_GrBufClr)     
     ld   hl, 000Fh
     ld   (penCol), hl 
     ld   hl, 0002h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str51
     bcall(_VPutS)     
     ld   hl, 0014h
     ld   (penCol), hl 
     ld   hl, 000Ah
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str52
     bcall(_VPutS)     
     call Label21
     ld   hl, 01F40h

Label65:
     djnz Label65
     dec  hl      
     ld   a, l    
     or   h       
     jr   nz, Label65
     ld   hl, 0011h
     ld   (penCol), hl 
     ld   hl, 001Ah
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str53
     bcall(_VPutS)     
     ld   hl, 002Fh
     ld   (penCol), hl 
     ld   hl, 0022h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str54
     bcall(_VPutS)     
     ld   hl, 0011h
     ld   (penCol), hl 
     ld   hl, 002Ah
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str55
     bcall(_VPutS)     
     call Label21
     ld   hl, 04E20h

Label66:
     djnz Label66
     dec  hl      
     ld   a, l    
     or   h       
     jr   nz, Label66
     bcall(_GrBufClr)     
     ld   hl, 000Fh
     ld   (penCol), hl 
     ld   hl, 0002h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str51
     bcall(_VPutS)     
     ld   hl, 0014h
     ld   (penCol), hl 
     ld   hl, 000Ah
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str52
     bcall(_VPutS)     
     call Label21
     ld   hl, 01F40h

Label67:
     djnz Label67
     dec  hl      
     ld   a, l    
     or   h       
     jr   nz, Label67
     ld   hl, 0018h
     ld   (penCol), hl 
     ld   hl, 001Ah
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str56
     bcall(_VPutS)     
     ld   hl, 0018h
     ld   (penCol), hl 
     ld   hl, 0022h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str57
     bcall(_VPutS)     
     ld   hl, 0018h
     ld   (penCol), hl 
     ld   hl, 002Ah
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str58
     bcall(_VPutS)     
     ld   hl, 0018h
     ld   (penCol), hl 
     ld   hl, 0032h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str59
     bcall(_VPutS)     
     call Label21
     ld   hl, 04E20h

Label68:
     djnz Label68
     dec  hl      
     ld   a, l    
     or   h       
     jr   nz, Label68
     bcall(_GrBufClr)     
     ld   hl, 000Fh
     ld   (penCol), hl 
     ld   hl, 0002h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str51
     bcall(_VPutS)     
     ld   hl, 0014h
     ld   (penCol), hl 
     ld   hl, 000Ah
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str52
     bcall(_VPutS)     
     call Label21
     ld   hl, 01F40h

Label69:
     djnz Label69
     dec  hl      
     ld   a, l    
     or   h       
     jr   nz, Label69
     ld   hl, 0018h
     ld   (penCol), hl 
     ld   hl, 001Ah
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str60
     bcall(_VPutS)     
     ld   hl, 0018h
     ld   (penCol), hl 
     ld   hl, 0022h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str61
     bcall(_VPutS)     
     ld   hl, 0018h
     ld   (penCol), hl 
     ld   hl, 002Ah
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str62
     bcall(_VPutS)     
     ld   hl, 0018h
     ld   (penCol), hl 
     ld   hl, 0032h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str63
     bcall(_VPutS)     
     call Label21
     ld   hl, 04E20h

Label70:
     djnz Label70
     dec  hl      
     ld   a, l    
     or   h       
     jr   nz, Label70
     call Label48
     bcall(_GrBufClr)     
     ld   hl, (08A5Dh) 
     xor  a       
     cp   l       
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label71
     ld   hl, 0010h
     ld   (penCol), hl 
     ld   hl, 000Ah
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str64
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 001Eh
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str65
     bcall(_VPutS)     
     call Label21
     ld   hl, 07530h

Label72:
     djnz Label72
     dec  hl      
     ld   a, l    
     or   h       
     jr   nz, Label72
     call Label73
     call Label74
     jp   Label75

Label71:
     ld   hl, (08A5Dh) 
     ld   h, 00h
     ld   de, 0FFC3h
     add  hl, de  
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label76
     ld   hl, 0010h
     ld   (penCol), hl 
     ld   hl, 000Ah
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str64
     bcall(_VPutS)     
     ld   hl, 000Dh
     ld   (penCol), hl 
     ld   hl, 001Eh
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str66
     bcall(_VPutS)     
     ld   hl, 0012h
     ld   (penCol), hl 
     ld   hl, 0026h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str67
     bcall(_VPutS)     
     call Label21
     ld   hl, 07530h

Label77:
     djnz Label77
     dec  hl      
     ld   a, l    
     or   h       
     jr   nz, Label77
     jp   Label75

Label76:
     ld   hl, (08A5Dh) 
     ld   h, 00h
     ld   a, l    
     sub  3Dh
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label75
     ld   hl, 0010h
     ld   (penCol), hl 
     ld   hl, 000Ah
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str64
     bcall(_VPutS)     
     ld   hl, 0004h
     ld   (penCol), hl 
     ld   hl, 001Eh
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str68
     bcall(_VPutS)     
     call Label21
     ld   hl, 07530h

Label78:
     djnz Label78
     dec  hl      
     ld   a, l    
     or   h       
     jr   nz, Label78
     call Label73
     ld   hl, 000Eh
     ld   (penCol), hl 
     ld   hl, 0019h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str69
     bcall(_VPutS)     
     ld   hl, 001Ah
     ld   (penCol), hl 
     ld   hl, 0021h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str70
     bcall(_VPutS)     
     call Label21
     ld   hl, 07530h

Label79:
     djnz Label79
     dec  hl      
     ld   a, l    
     or   h       
     jr   nz, Label79

Label75:
     bcall(_GrBufClr)     
     ld   hl, 01388h

Label80:
     djnz Label80
     dec  hl      
     ld   a, l    
     or   h       
     jr   nz, Label80

Label52:
     bcall(_GrBufClr)     
     call Label21
     jp   Label81

Label31:
     ld   hl, 0000h
     ld   a, l    
     ld   (08A3Fh), a  

Label86:
     ld   hl, (08A3Fh) 
     ld   h, 00h
     ld   a, l    
     sub  0Fh
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     push hl      
     ld   hl, (08A3Fh) 
     ld   h, 00h
     ld   a, l    
     sub  0Bh
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     pop  de      
     ld   a, l    
     or   e       
     ld   l, a    
     push hl      
     ld   hl, (08A3Fh) 
     ld   h, 00h
     ld   a, l    
     sub  0Ah
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     pop  de      
     ld   a, l    
     or   e       
     ld   l, a    
     push hl      
     ld   hl, (08A3Fh) 
     ld   h, 00h
     ld   a, l    
     dec  a       
     or   h       
     jr   z, Label82
     sbc  hl, hl  

Label82:
     pop  de      
     ld   a, l    
     or   e       
     ld   l, a    
     push hl      
     ld   hl, (08A3Fh) 
     ld   h, 00h
     dec  l       
     ld   a, l    
     dec  a       
     or   h       
     jr   z, Label83
     sbc  hl, hl  

Label83:
     pop  de      
     ld   a, l    
     or   e       
     ld   l, a    
     push hl      
     ld   hl, (08A3Fh) 
     ld   h, 00h
     ld   a, l    
     sub  03h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     pop  de      
     ld   a, l    
     or   e       
     ld   l, a    
     push hl      
     ld   hl, (08A3Fh) 
     ld   h, 00h
     ld   a, l    
     sub  04h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     pop  de      
     ld   a, l    
     or   e       
     ld   l, a    
     push hl      
     ld   hl, (08A3Fh) 
     ld   h, 00h
     ld   a, l    
     sub  31h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     pop  de      
     ld   a, l    
     or   e       
     ld   l, a    
     push hl      
     ld   hl, (08A3Fh) 
     ld   h, 00h
     ld   a, l    
     sub  35h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     pop  de      
     ld   a, l    
     or   e       
     ld   l, a    
     or   h       
     jp   nz, Label84
     call Label85
     bcall(_GetCSC)     
     ld   h, 00h
     ld   l, a    
     ld   a, l    
     ld   (08A3Fh), a  
     jp   Label86

Label84:
     ld   hl, (08A3Fh) 
     ld   h, 00h
     ld   a, l    
     sub  0Bh
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     push hl      
     ld   hl, (08A3Fh) 
     ld   h, 00h
     ld   a, l    
     sub  0Ah
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     pop  de      
     ld   a, l    
     or   e       
     ld   l, a    
     or   h       
     jp   z, Label87
     call Label88
     jp   Label31

Label87:
     ld   hl, (08A3Fh) 
     ld   h, 00h
     ld   a, l    
     sub  35h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label89
     call Label90

Label89:
     ld   hl, (08A41h) 
     ld   h, 00h
     ld   (089B6h), hl 
     ld   hl, (08A42h) 
     ld   h, 00h
     ld   (089B8h), hl 
     call Label91
     ld   hl, (08A3Fh) 
     ld   h, 00h
     ld   a, l    
     dec  a       
     or   h       
     jr   z, Label92
     sbc  hl, hl  

Label92:
     ld   a, h    
     or   l       
     jp   z, Label93
     ld   hl, (089B6h) 
     inc  hl      
     ld   (089B6h), hl 
     call Label91
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     xor  a       
     ld   h, a    
     or   l       
     jp   nz, Label94
     ld   hl, 0063h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, (089BAh) 
     ld   de, 0FFF2h
     add  hl, de  
     ld   (089BAh), hl 
     ld   hl, 0000h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, (089B6h) 
     ld   a, l    
     ld   (08A41h), a  
     jp   Label95

Label94:
     call Label96

Label95:
     jp   Label97

Label93:
     ld   hl, (08A3Fh) 
     ld   h, 00h
     dec  l       
     ld   a, l    
     dec  a       
     or   h       
     jr   z, Label98
     sbc  hl, hl  

Label98:
     ld   a, h    
     or   l       
     jp   z, Label99
     ld   hl, (089B8h) 
     dec  hl      
     ld   (089B8h), hl 
     call Label91
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     xor  a       
     ld   h, a    
     or   l       
     jp   nz, Label100
     ld   hl, 0063h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, (089BAh) 
     inc  hl      
     ld   (089BAh), hl 
     ld   hl, 0000h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, (089B8h) 
     ld   a, l    
     ld   (08A42h), a  
     jp   Label101

Label100:
     call Label96

Label101:
     jp   Label97

Label99:
     ld   hl, (08A3Fh) 
     ld   h, 00h
     ld   a, l    
     sub  03h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label102
     ld   hl, (089B8h) 
     inc  hl      
     ld   (089B8h), hl 
     call Label91
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     xor  a       
     ld   h, a    
     or   l       
     jp   nz, Label103
     ld   hl, 0063h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, (089BAh) 
     dec  hl      
     ld   (089BAh), hl 
     ld   hl, 0000h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, (089B8h) 
     ld   a, l    
     ld   (08A42h), a  
     jp   Label104

Label103:
     call Label96

Label104:
     jp   Label97

Label102:
     ld   hl, (08A3Fh) 
     ld   h, 00h
     ld   a, l    
     sub  04h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label97
     ld   hl, (089B6h) 
     dec  hl      
     ld   (089B6h), hl 
     call Label91
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     xor  a       
     ld   h, a    
     or   l       
     jp   nz, Label105
     ld   hl, 0063h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, (089BAh) 
     ld   de, 000Eh
     add  hl, de  
     ld   (089BAh), hl 
     ld   hl, 0000h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, (089B6h) 
     ld   a, l    
     ld   (08A41h), a  
     jp   Label97

Label105:
     call Label96

Label97:
     call Label85
     ret          

Label27:
     call Label106
     ld   hl, 0000h
     ld   a, l    
     ld   (08A5Bh), a  
     ld   hl, 0000h
     ld   a, l    
     ld   (08A53h), a  
     ld   hl, (timer1max) 
     ld   h, 00h
     xor  a       
     ld   de, 0FFFDh
     add  hl, de  
     ld   h, a    
     rla          
     ld   l, a    
     or   h       
     jp   z, Label107
     call Label15
     ld   de, 0014h
     call Label16
     inc  hl      
     ld   a, l    
     ld   (08A55h), a  
     ld   h, 00h
     ld   a, l    
     sub  14h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label107
     ld   hl, 0010h
     ld   a, l    
     ld   (08A43h), a  

Label107:
     call Label15
     ld   de, 0014h
     call Label16
     inc  hl      
     ld   a, l    
     ld   (08A52h), a  
     ld   h, 00h
     ld   a, l    
     sub  14h
     or   h       
     sub  01h
     sbc  hl, hl  
     inc  hl      
     push hl      
     ld   hl, (timer1max) 
     ld   h, 00h
     ld   de, 0FFFEh
     add  hl, de  
     sbc  hl, hl  
     inc  hl      
     pop  de      
     ld   a, l    
     or   e       
     ld   l, a    
     or   h       
     jp   z, Label108
     ld   hl, 0000h
     ld   a, l    
     ld   (08A52h), a  
     jp   Label109

Label108:
     ld   hl, 0004h
     ld   a, l    
     ld   (08A43h), a  

Label109:
     ld   hl, 0000h
     ld   a, l    
     ld   (08A4Bh), a  
     ld   hl, 0000h
     jr   Label110

Label115:
     ld   hl, (089B6h) 
     inc  hl      

Label110:
     ld   (089B6h), hl 
     ex   de, hl  
     ld   hl, 0007h
     or   a       
     sbc  hl, de  
     jp   c, Label111
     ld   hl, 0000h
     jr   Label112

Label114:
     ld   hl, (089B8h) 
     inc  hl      

Label112:
     ld   (089B8h), hl 
     ex   de, hl  
     ld   hl, 000Dh
     or   a       
     sbc  hl, de  
     jp   c, Label113
     call Label91
     ld   hl, 0000h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     jr   Label114

Label113:
     jr   Label115

Label111:
     call Label15
     ld   de, 0003h
     call Label16
     inc  hl      
     ld   (089C4h), hl 
     call Label15
     ld   de, 0006h
     call Label16
     inc  hl      
     ld   (089E2h), hl 
     ld   hl, 0000h
     jr   Label116

Label124:
     ld   hl, (089B6h) 
     inc  hl      

Label116:
     ld   (089B6h), hl 
     ex   de, hl  
     ld   hl, 0007h
     or   a       
     sbc  hl, de  
     jp   c, Label117
     ld   hl, 0000h
     jr   Label118

Label123:
     ld   hl, (089B8h) 
     inc  hl      

Label118:
     ld   (089B8h), hl 
     ex   de, hl  
     ld   hl, 000Dh
     or   a       
     sbc  hl, de  
     jp   c, Label119
     call Label91
     ld   hl, (089B6h) 
     inc  hl      
     push hl      
     ld   hl, 0004h
     ld   de, (089C4h) 
     or   a       
     sbc  hl, de  
     pop  de      
     or   a       
     sbc  hl, de  
     sbc  hl, hl  
     inc  hl      
     push hl      
     ld   hl, (089B6h) 
     inc  hl      
     push hl      
     ld   hl, 0004h
     ld   de, (089C4h) 
     add  hl, de  
     pop  de      
     xor  a       
     sbc  hl, de  
     ld   h, a    
     rla          
     ld   l, a    
     pop  de      
     ld   a, l    
     or   e       
     ld   l, a    
     push hl      
     ld   hl, (089B8h) 
     inc  hl      
     push hl      
     ld   hl, 0007h
     ld   de, (089E2h) 
     or   a       
     sbc  hl, de  
     pop  de      
     or   a       
     sbc  hl, de  
     sbc  hl, hl  
     inc  hl      
     pop  de      
     ld   a, l    
     or   e       
     ld   l, a    
     push hl      
     ld   hl, (089B8h) 
     inc  hl      
     push hl      
     ld   hl, 0007h
     ld   de, (089E2h) 
     add  hl, de  
     pop  de      
     xor  a       
     sbc  hl, de  
     ld   h, a    
     rla          
     pop  de      
     or   e       
     ld   l, a    
     or   h       
     jp   z, Label120
     ld   hl, 0001h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     jp   Label121

Label120:
     ld   hl, (timer1max) 
     ld   h, 00h
     ld   de, 0FFC3h
     add  hl, de  
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label121
     call Label122

Label121:
     jp   Label123

Label119:
     jp   Label124

Label117:
     ld   hl, (timer3) 
     ld   h, 00h
     ld   (089EAh), hl 
     ld   (089E4h), hl 

Label127:
     ld   hl, (089E4h) 
     ld   de, (089EAh) 
     xor  a       
     sbc  hl, de  
     jr   z, Label125
     ld   hl, 0001h

Label125:
     ld   a, h    
     or   l       
     jp   nz, Label126
     call Label15
     ld   h, 00h
     ld   a, l    
     and  03h
     ld   l, a    
     inc  hl      
     ld   (089E4h), hl 
     jr   Label127

Label126:
     ld   hl, (089E4h) 
     ld   a, l    
     ld   (timer3), a  
     ld   hl, (089EAh) 
     ld   a, l    
     dec  a       
     or   h       
     jr   z, Label128
     sbc  hl, hl  

Label128:
     push hl      
     ld   hl, (089EAh) 
     dec  l       
     ld   a, l    
     dec  a       
     or   h       
     jr   z, Label129
     sbc  hl, hl  

Label129:
     pop  de      
     ld   a, l    
     or   e       
     ld   l, a    
     or   h       
     jp   z, Label130
     ld   hl, (089EAh) 
     ld   a, l    
     dec  a       
     or   h       
     jr   z, Label131
     sbc  hl, hl  

Label131:
     ld   a, h    
     or   l       
     jp   z, Label132
     ld   hl, 0003h
     ld   de, (089C4h) 
     or   a       
     sbc  hl, de  
     ld   (089B6h), hl 
     inc  hl      
     ld   (089E4h), hl 
     jp   Label133

Label132:
     ld   hl, 0004h
     ld   de, (089C4h) 
     add  hl, de  
     ld   (089B6h), hl 
     dec  hl      
     ld   (089E4h), hl 

Label133:
     call Label15
     xor  a       
     ld   h, a    
     inc  a       
     and  l       
     ld   l, a    
     inc  hl      
     ld   a, l    
     dec  a       
     or   h       
     jr   z, Label134
     sbc  hl, hl  

Label134:
     ld   a, h    
     or   l       
     jp   z, Label135
     ld   hl, 0006h
     ld   de, (089E2h) 
     add  hl, de  
     ld   (089B8h), hl 
     jp   Label136

Label135:
     ld   hl, 0008h
     ld   de, (089E2h) 
     or   a       
     sbc  hl, de  
     ld   (089B8h), hl 

Label136:
     call Label91
     ld   hl, 0061h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, (089E4h) 
     ld   (089B6h), hl 
     call Label91
     ld   hl, 0063h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     jp   Label137

Label130:
     ld   hl, (089EAh) 
     ld   a, l    
     sub  03h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label138
     ld   hl, 0006h
     ld   de, (089E2h) 
     or   a       
     sbc  hl, de  
     ld   (089B8h), hl 
     inc  hl      
     ld   (089E6h), hl 
     jp   Label139

Label138:
     ld   hl, 0007h
     ld   de, (089E2h) 
     add  hl, de  
     ld   (089B8h), hl 
     dec  hl      
     ld   (089E6h), hl 

Label139:
     call Label15
     xor  a       
     ld   h, a    
     inc  a       
     and  l       
     ld   l, a    
     inc  hl      
     ld   a, l    
     dec  a       
     or   h       
     jr   z, Label140
     sbc  hl, hl  

Label140:
     ld   a, h    
     or   l       
     jp   z, Label141
     ld   hl, 0003h
     ld   de, (089C4h) 
     add  hl, de  
     ld   (089B6h), hl 
     jp   Label142

Label141:
     ld   hl, 0004h
     ld   de, (089C4h) 
     or   a       
     sbc  hl, de  
     ld   (089B6h), hl 

Label142:
     call Label91
     ld   hl, 0061h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, (089E6h) 
     ld   (089B8h), hl 
     call Label91
     ld   hl, 0063h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 

Label137:
     ld   hl, (089BAh) 
     ld   a, l    
     ld   (08A5Ah), a  
     ld   hl, (089B6h) 
     ld   a, l    
     ld   (08A41h), a  
     ld   hl, (089B8h) 
     ld   a, l    
     ld   (08A42h), a  
     ld   hl, (timer3) 
     ld   h, 00h
     ld   (089EAh), hl 
     ld   a, l    
     sub  03h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     push hl      
     ld   hl, (089EAh) 
     ld   a, l    
     sub  04h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     pop  de      
     ld   a, l    
     or   e       
     ld   l, a    
     or   h       
     jp   z, Label143
     ld   hl, (089EAh) 
     ld   a, l    
     sub  03h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label144
     ld   hl, 0006h
     ld   de, (089E2h) 
     or   a       
     sbc  hl, de  
     ld   (089B8h), hl 
     ld   hl, 0004h
     ld   a, l    
     ld   (timer3), a  
     jp   Label145

Label144:
     ld   hl, 0003h
     ld   a, l    
     ld   (timer3), a  
     ld   hl, 0007h
     ld   de, (089E2h) 
     add  hl, de  
     ld   (089B8h), hl 

Label145:
     call Label15
     xor  a       
     ld   h, a    
     inc  a       
     and  l       
     ld   l, a    
     inc  hl      
     ld   a, l    
     dec  a       
     or   h       
     jr   z, Label146
     sbc  hl, hl  

Label146:
     ld   a, h    
     or   l       
     jp   z, Label147
     ld   hl, 0003h
     push hl      
     call Label15
     ld   de, (089C4h) 
     call Label16
     inc  hl      
     pop  de      
     add  hl, de  
     ld   (089B6h), hl 
     jp   Label148

Label147:
     ld   hl, 0004h
     push hl      
     call Label15
     ld   de, (089C4h) 
     call Label16
     inc  hl      
     pop  de      
     ex   de, hl  
     or   a       
     sbc  hl, de  
     ld   (089B6h), hl 

Label148:
     call Label91
     ld   hl, (timer1max) 
     ld   h, 00h
     ld   de, 0FFC3h
     add  hl, de  
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label149
     ld   hl, 0062h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 

Label149:
     jp   Label150

Label143:
     ld   hl, (089EAh) 
     ld   a, l    
     dec  a       
     or   h       
     jr   z, Label151
     sbc  hl, hl  

Label151:
     ld   a, h    
     or   l       
     jp   z, Label152
     ld   hl, 0003h
     ld   de, (089C4h) 
     or   a       
     sbc  hl, de  
     ld   (089B6h), hl 
     ld   hl, 0002h
     ld   a, l    
     ld   (timer3), a  
     jp   Label153

Label152:
     ld   hl, 0004h
     ld   de, (089C4h) 
     add  hl, de  
     ld   (089B6h), hl 
     ld   hl, 0001h
     ld   a, l    
     ld   (timer3), a  

Label153:
     call Label15
     xor  a       
     ld   h, a    
     inc  a       
     and  l       
     ld   l, a    
     inc  hl      
     ld   a, l    
     dec  a       
     or   h       
     jr   z, Label154
     sbc  hl, hl  

Label154:
     ld   a, h    
     or   l       
     jp   z, Label155
     ld   hl, 0006h
     push hl      
     call Label15
     ld   de, (089E2h) 
     call Label16
     inc  hl      
     pop  de      
     add  hl, de  
     ld   (089B8h), hl 
     jp   Label156

Label155:
     ld   hl, 0008h
     push hl      
     call Label15
     ld   de, (089E2h) 
     call Label16
     inc  hl      
     pop  de      
     ex   de, hl  
     or   a       
     sbc  hl, de  
     ld   (089B8h), hl 

Label156:
     call Label91
     ld   hl, (timer1max) 
     ld   h, 00h
     ld   de, 0FFC3h
     add  hl, de  
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label150
     ld   hl, 0062h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 

Label150:
     ld   hl, (timer1max) 
     ld   h, 00h
     ld   a, l    
     sub  3Dh
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label157
     ld   hl, 0001h
     ld   a, l    
     ld   (08A5Bh), a  

Label161:
     ld   hl, (08A57h) 
     xor  a       
     cp   l       
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label157
     call Label15
     ld   de, 0007h
     call Label16
     inc  hl      
     ld   (089B6h), hl 
     call Label15
     ld   de, 000Dh
     call Label16
     inc  hl      
     ld   (089B8h), hl 
     call Label91
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     xor  a       
     ld   h, a    
     or   l       
     jp   nz, Label158
     ld   hl, 0001h
     ld   a, l    
     ld   (08A57h), a  
     ld   hl, 0070h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, (089BAh) 
     ld   de, 00E0h
     add  hl, de  
     ld   (089C0h), hl 
     ld   hl, (089BAh) 
     ld   de, 00150h
     add  hl, de  
     ld   (089C2h), hl 
     ld   hl, 00CDh
     push hl      
     ld   hl, (089C0h) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, 0008h
     push hl      
     ld   hl, (089C2h) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 

Label158:
     ld   hl, (08A59h) 
     ld   h, 00h
     ld   de, 0FFFEh
     add  hl, de  
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label159
     call Label160
     jr   Label158

Label159:
     jp   Label161

Label157:
     ld   hl, (08A5Bh) 
     xor  a       
     ld   h, a    
     or   l       
     jp   nz, Label162
     call Label163

Label162:
     ret          

Label96:
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, l    
     sub  62h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label164
     ld   hl, (timer1max) 
     ld   h, 00h
     inc  hl      
     ld   a, l    
     ld   (timer1max), a  
     ld   hl, 0062h
     ld   a, l    
     ld   (08A43h), a  
     ld   hl, 0001h
     ld   a, l    
     ld   (08A4Bh), a  
     jp   Label165

Label164:
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, l    
     dec  a       
     or   h       
     jr   z, Label166
     sbc  hl, hl  

Label166:
     ld   a, h    
     or   l       
     jp   z, Label167
     ld   hl, 0001h
     ld   a, l    
     ld   (08A43h), a  
     jp   Label165

Label167:
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, l    
     sub  61h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label168
     ld   hl, 0061h
     ld   a, l    
     ld   (08A43h), a  
     ld   hl, (08A53h) 
     xor  a       
     ld   h, a    
     or   l       
     jp   nz, Label169
     ld   hl, (timer1max) 
     ld   h, 00h
     xor  a       
     ld   de, 0FFFCh
     add  hl, de  
     ld   h, a    
     rla          
     ld   l, a    
     or   h       
     jp   z, Label170
     ld   hl, (timer2) 
     ld   h, 00h
     push hl      
     ld   hl, (timer1max) 
     ld   h, 00h
     ld   de, 0004h
     call Label171
     pop  de      
     add  hl, de  
     ld   a, l    
     ld   (timer2), a  
     jp   Label172

Label170:
     ld   hl, (timer2) 
     ld   h, 00h
     inc  hl      
     ld   a, l    
     ld   (timer2), a  

Label172:
     ld   hl, (08A53h) 
     xor  a       
     ld   h, a    
     or   l       
     jp   nz, Label173
     ld   hl, (08A5Dh) 
     ld   h, 00h
     inc  hl      
     ld   a, l    
     ld   (08A5Dh), a  

Label173:
     ld   hl, 0001h
     ld   a, l    
     ld   (08A53h), a  

Label169:
     jp   Label165

Label168:
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     xor  a       
     ld   de, 0FFFDh
     add  hl, de  
     ld   h, a    
     rla          
     ld   l, a    
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   de, 0FFF6h
     add  hl, de  
     sbc  hl, hl  
     inc  hl      
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     jp   z, Label174
     call Label175
     jp   Label165

Label174:
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     dec  l       
     ld   a, l    
     dec  a       
     or   h       
     jr   z, Label176
     sbc  hl, hl  

Label176:
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     xor  a       
     ld   de, 0FF9Ch
     add  hl, de  
     ld   h, a    
     rla          
     pop  de      
     or   e       
     ld   l, a    
     or   h       
     jp   z, Label165
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, l    
     sub  70h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     push hl      
     ld   hl, (08A59h) 
     ld   h, 00h
     ld   a, l    
     or   h       
     jr   z, Label177
     ld   hl, 0001h

Label177:
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     or   h       
     jp   z, Label178
     jp   Label165

Label178:
     call Label179

Label165:
     ret          

Label30:
     call Label85
     ld   hl, appBackUpScreen
     bcall(_BufClr)     
     bcall(_GrBufClr)     
     call Label180
     call Label181
     ld   hl, 0000h
     ld   a, l    
     ld   (08A43h), a  
     ld   hl, 0000h
     jr   Label182

Label203:
     ld   hl, (089B6h) 
     inc  hl      

Label182:
     ld   (089B6h), hl 
     ex   de, hl  
     ld   hl, 0007h
     or   a       
     sbc  hl, de  
     jp   c, Label183
     ld   hl, 0000h
     jr   Label184

Label202:
     ld   hl, (089B8h) 
     inc  hl      

Label184:
     ld   (089B8h), hl 
     ex   de, hl  
     ld   hl, 000Dh
     or   a       
     sbc  hl, de  
     jp   c, Label185
     ld   hl, (089B6h) 
     inc  hl      
     ld   d, h    
     ld   e, l    
     add  hl, hl  
     add  hl, de  
     add  hl, hl  
     add  hl, de  
     ld   (089E4h), hl 
     ld   hl, (089B8h) 
     ld   d, h    
     ld   e, l    
     add  hl, hl  
     add  hl, de  
     add  hl, hl  
     ld   (089E6h), hl 
     call Label91
     ld   hl, (08A55h) 
     ld   h, 00h
     ld   a, l    
     sub  14h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label186
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, h    
     dec  l       
     or   l       
     jr   z, Label187
     ld   hl, 0001h

Label187:
     ld   a, h    
     or   l       
     jp   z, Label186
     ld   hl, (089E6h) 
     push hl      
     ld   hl, (089E4h) 
     push hl      
     ld   hl, Str71
     push hl      
     pop  ix      
     ld   hl, flashByte1
     call Label188

Label186:
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, l    
     dec  a       
     or   h       
     jr   z, Label189
     sbc  hl, hl  

Label189:
     ld   a, h    
     or   l       
     jp   z, Label190
     call Label15
     ld   a, (timer1max)  
     ld   e, a    
     ld   d, 00h
     call Label16
     inc  hl      
     ld   (089DCh), hl 
     xor  a       
     ld   de, 0FFE1h
     add  hl, de  
     ld   h, a    
     rla          
     ld   l, a    
     or   h       
     jp   z, Label191
     ld   hl, 0007h
     ld   a, l    
     ld   (08A5Eh), a  
     jp   Label192

Label191:
     ld   hl, (089DCh) 
     xor  a       
     ld   de, 0FFEBh
     add  hl, de  
     ld   h, a    
     rla          
     ld   l, a    
     or   h       
     jp   z, Label193
     call Label15
     xor  a       
     ld   h, a    
     inc  a       
     and  l       
     ld   l, a    
     inc  hl      
     ld   a, l    
     dec  a       
     or   h       
     jr   z, Label194
     sbc  hl, hl  

Label194:
     ld   a, h    
     or   l       
     jp   z, Label195
     ld   hl, 0004h
     ld   a, l    
     ld   (08A5Eh), a  
     jp   Label196

Label195:
     ld   hl, 0005h
     ld   a, l    
     ld   (08A5Eh), a  

Label196:
     jp   Label192

Label193:
     ld   hl, (089DCh) 
     xor  a       
     ld   de, 0FFF5h
     add  hl, de  
     ld   h, a    
     rla          
     ld   l, a    
     or   h       
     jp   z, Label197
     ld   hl, 0003h
     ld   a, l    
     ld   (08A5Eh), a  
     jp   Label192

Label197:
     ld   hl, 0002h
     ld   a, l    
     ld   (08A5Eh), a  

Label192:
     ld   hl, (089E6h) 
     push hl      
     ld   hl, (089E4h) 
     push hl      
     ld   hl, (08A5Eh) 
     ld   h, 00h
     add  hl, hl  
     add  hl, hl  
     add  hl, hl  
     ld   de, Str72
     add  hl, de  
     call Label198
     jp   Label199

Label190:
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     xor  a       
     ld   de, 0FFFEh
     add  hl, de  
     ld   h, a    
     rla          
     ld   l, a    
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   de, 0FFF6h
     add  hl, de  
     sbc  hl, hl  
     inc  hl      
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     jp   z, Label200
     ld   hl, (089E6h) 
     push hl      
     ld   hl, (089E4h) 
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   de, 0007h
     add  hl, de  
     add  hl, hl  
     add  hl, hl  
     add  hl, hl  
     ld   de, Str72
     add  hl, de  
     call Label198
     ld   hl, (089E6h) 
     push hl      
     ld   hl, (089E4h) 
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   de, 000Fh
     add  hl, de  
     add  hl, hl  
     add  hl, hl  
     add  hl, hl  
     ld   de, Str72
     add  hl, de  
     push hl      
     pop  ix      
     ld   hl, flashByte1
     call Label188
     jp   Label199

Label200:
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     xor  a       
     ld   de, 0FFF5h
     add  hl, de  
     ld   h, a    
     rla          
     ld   l, a    
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   de, 0FF9Ch
     add  hl, de  
     sbc  hl, hl  
     inc  hl      
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     jp   z, Label201
     ld   hl, (089E6h) 
     push hl      
     ld   hl, (089E4h) 
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   de, 0FFA5h
     add  hl, de  
     add  hl, hl  
     add  hl, hl  
     add  hl, hl  
     ld   de, Str72
     add  hl, de  
     call Label198
     jp   Label199

Label201:
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     xor  a       
     ld   de, 0FF9Ch
     add  hl, de  
     ld   h, a    
     rla          
     ld   l, a    
     or   h       
     jp   z, Label199
     ld   hl, (089E6h) 
     push hl      
     ld   hl, (089E4h) 
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   de, 0FFB5h
     add  hl, de  
     add  hl, hl  
     add  hl, hl  
     add  hl, hl  
     ld   de, Str72
     add  hl, de  
     call Label198
     ld   hl, (089E6h) 
     push hl      
     ld   hl, (089E4h) 
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   de, 0FFC2h
     add  hl, de  
     add  hl, hl  
     add  hl, hl  
     add  hl, hl  
     ld   de, Str72
     add  hl, de  
     push hl      
     pop  ix      
     ld   hl, flashByte1
     call Label188

Label199:
     jp   Label202

Label185:
     jp   Label203

Label183:
     ld   hl, (08A47h) 
     ld   h, 00h
     ld   a, l    
     or   h       
     jr   z, Label204
     ld   hl, 0001h

Label204:
     ld   a, h    
     or   l       
     jp   z, Label205
     ld   hl, appBackUpScreen
     call Label206
     ld   hl, (08A47h) 
     ld   h, 00h
     inc  hl      
     ld   a, l    
     ld   (08A47h), a  
     ld   h, 00h
     ld   a, l    
     sub  0Ch
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label205
     ld   hl, 0000h
     ld   a, l    
     ld   (08A47h), a  
     ld   hl, appBackUpScreen
     call Label206

Label205:
     ld   hl, (08A52h) 
     ld   h, 00h
     ld   a, l    
     sub  14h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label207
     ld   hl, 0000h
     push hl      
     ld   hl, 0007h
     push hl      
     ld   hl, 0054h
     push hl      
     ld   hl, 0038h
     call Label208

Label207:
     call Label209
     ret          

Label91:
     ld   hl, (089B6h) 
     ld   de, 000Eh
     call Label210
     ld   de, (089B8h) 
     add  hl, de  
     ld   (089BAh), hl 
     ret          

Label181:
     ld   hl, 0055h
     push hl      
     ld   hl, 0008h
     push hl      
     ld   hl, Str72
     call Label198
     ld   hl, (timer2max) 
     ld   h, 00h
     ld   de, 0FF9Ch
     add  hl, de  
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label211
     ld   hl, 0056h
     ld   (penCol), hl 
     ld   hl, 0011h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, (timer2max) 
     ld   h, 00h
     call Label212
     jp   Label213

Label211:
     ld   hl, 0053h
     ld   (penCol), hl 
     ld   hl, 0011h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, (timer2max) 
     ld   h, 00h
     call Label212

Label213:
     ld   hl, 0055h
     push hl      
     ld   hl, 001Ah
     push hl      
     ld   hl, Str73
     call Label198
     ld   hl, 0056h
     ld   (penCol), hl 
     ld   hl, 0023h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, (08A46h) 
     ld   h, 00h
     call Label212
     ld   hl, (08A53h) 
     xor  a       
     ld   h, a    
     or   l       
     jp   z, Label214
     ld   hl, 0055h
     push hl      
     ld   hl, 0030h
     push hl      
     ld   hl, Str74
     call Label198

Label214:
     ret          

Label180:
     ld   hl, (08A43h) 
     xor  a       
     ld   h, a    
     or   l       
     jp   nz, Label215
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0000h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str75
     bcall(_VPutS)     
     jp   Label216

Label215:
     ld   hl, (08A43h) 
     ld   h, 00h
     ld   a, l    
     dec  a       
     or   h       
     jr   z, Label217
     sbc  hl, hl  

Label217:
     ld   a, h    
     or   l       
     jp   z, Label218
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0000h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str76
     bcall(_VPutS)     
     jp   Label216

Label218:
     ld   hl, (08A43h) 
     ld   h, 00h
     ld   a, l    
     sub  62h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label219
     ld   hl, (timer1max) 
     ld   h, 00h
     ld   a, l    
     dec  a       
     or   h       
     jr   z, Label220
     sbc  hl, hl  

Label220:
     ld   a, h    
     or   l       
     jp   z, Label221
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0000h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str77
     bcall(_VPutS)     
     jp   Label222

Label221:
     ld   hl, (timer1max) 
     ld   h, 00h
     ld   a, l    
     sub  0Bh
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label223
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0000h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str78
     bcall(_VPutS)     
     jp   Label222

Label223:
     ld   hl, (timer1max) 
     ld   h, 00h
     ld   a, l    
     sub  15h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label224
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0000h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str79
     bcall(_VPutS)     
     jp   Label222

Label224:
     ld   hl, (timer1max) 
     ld   h, 00h
     ld   a, l    
     sub  1Fh
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label225
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0000h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str80
     bcall(_VPutS)     
     jp   Label222

Label225:
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0000h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str81
     bcall(_VPutS)     
     ld   hl, 0035h
     ld   (penCol), hl 
     ld   hl, 0000h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, (timer1max) 
     ld   h, 00h
     call Label212

Label222:
     jp   Label216

Label219:
     ld   hl, (08A43h) 
     ld   h, 00h
     ld   a, l    
     sub  61h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label226
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0000h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str82
     bcall(_VPutS)     
     jp   Label216

Label226:
     ld   hl, (08A43h) 
     ld   h, 00h
     ld   a, l    
     sub  63h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label227
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0000h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str83
     bcall(_VPutS)     
     jp   Label216

Label227:
     ld   hl, (08A43h) 
     ld   h, 00h
     dec  l       
     ld   a, l    
     dec  a       
     or   h       
     jr   z, Label228
     sbc  hl, hl  

Label228:
     ld   a, h    
     or   l       
     jp   z, Label229
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0000h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str84
     bcall(_VPutS)     
     jp   Label216

Label229:
     ld   hl, (08A43h) 
     ld   h, 00h
     ld   a, l    
     sub  03h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label230
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0000h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str85
     bcall(_VPutS)     
     jp   Label216

Label230:
     ld   hl, (08A43h) 
     ld   h, 00h
     ld   a, l    
     sub  04h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label231
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0000h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str86
     bcall(_VPutS)     
     jp   Label216

Label231:
     ld   hl, (08A43h) 
     ld   h, 00h
     ld   a, l    
     sub  05h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label232
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0000h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str87
     bcall(_VPutS)     
     jp   Label216

Label232:
     ld   hl, (08A43h) 
     ld   h, 00h
     ld   a, l    
     sub  06h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label233
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0000h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str88
     bcall(_VPutS)     
     jp   Label216

Label233:
     ld   hl, (08A43h) 
     ld   h, 00h
     ld   a, l    
     sub  07h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label234
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0000h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str89
     bcall(_VPutS)     
     jp   Label216

Label234:
     ld   hl, (08A43h) 
     ld   h, 00h
     ld   a, l    
     sub  08h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label235
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0000h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str90
     bcall(_VPutS)     
     jp   Label216

Label235:
     ld   hl, (08A43h) 
     ld   h, 00h
     ld   a, l    
     sub  09h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label236
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0000h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str91
     bcall(_VPutS)     
     jp   Label216

Label236:
     ld   hl, (08A43h) 
     ld   h, 00h
     ld   a, l    
     sub  0Ah
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label237
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0000h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str92
     bcall(_VPutS)     
     jp   Label216

Label237:
     ld   hl, (08A43h) 
     ld   h, 00h
     ld   a, l    
     sub  0Ch
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label216
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0000h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str93
     bcall(_VPutS)     

Label216:
     ld   hl, (08A43h) 
     ld   h, 00h
     ld   a, l    
     sub  0Bh
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label238
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0000h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str94
     bcall(_VPutS)     
     jp   Label239

Label238:
     ld   hl, (08A43h) 
     ld   h, 00h
     ld   a, l    
     sub  0Dh
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label240
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0000h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str95
     bcall(_VPutS)     
     jp   Label239

Label240:
     ld   hl, (08A43h) 
     ld   h, 00h
     ld   a, l    
     sub  0Eh
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label241
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0000h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str96
     bcall(_VPutS)     
     jp   Label239

Label241:
     ld   hl, (08A43h) 
     ld   h, 00h
     ld   a, l    
     sub  0Fh
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label242
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0000h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str97
     bcall(_VPutS)     
     jp   Label239

Label242:
     ld   hl, (08A43h) 
     ld   h, 00h
     ld   a, l    
     sub  10h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label239
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0000h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str98
     bcall(_VPutS)     

Label239:
     ret          

Label122:
     ld   hl, (089BAh) 
     ld   de, 00E0h
     add  hl, de  
     ld   (089C0h), hl 
     ld   de, 0070h
     add  hl, de  
     ld   (089C2h), hl 
     ld   hl, (timer1max) 
     ld   h, 00h
     ld   de, 0FFFCh
     add  hl, de  
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label243
     call Label15
     ld   de, 0014h
     call Label16
     inc  hl      
     ld   (089EAh), hl 
     jp   Label244

Label243:
     call Label15
     push hl      
     ld   hl, (timer1max) 
     ld   h, 00h
     ld   d, h    
     ld   e, l    
     call Label210
     pop  de      
     ex   de, hl  
     call Label16
     inc  hl      
     ld   (089EAh), hl 

Label244:
     ld   hl, (089EAh) 
     ld   de, 0014h
     call Label16
     ld   a, l    
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     push hl      
     call Label15
     ld   de, 0005h
     call Label16
     inc  hl      
     ld   de, 0FFFCh
     add  hl, de  
     sbc  hl, hl  
     inc  hl      
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     jp   z, Label245
     ld   hl, 0002h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, 0005h
     push hl      
     ld   hl, (089C0h) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, 0000h
     push hl      
     ld   hl, (089C2h) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     jp   Label246

Label245:
     ld   hl, (089EAh) 
     ld   de, 0028Ah
     call Label16
     ld   a, l    
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     push hl      
     ld   hl, (089EAh) 
     ld   de, 0019h
     call Label16
     ld   a, l    
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     push hl      
     ld   hl, (timer1max) 
     ld   h, 00h
     xor  a       
     ld   de, 0FFD7h
     add  hl, de  
     ld   h, a    
     rla          
     ld   l, a    
     pop  de      
     ld   a, l    
     and  e       
     pop  de      
     or   e       
     ld   l, a    
     or   h       
     jp   z, Label247
     ld   hl, 006Bh
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     call Label15
     ld   de, 0046h
     call Label16
     ld   de, 003Ch
     add  hl, de  
     push hl      
     ld   hl, (089C0h) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     call Label15
     ld   h, 00h
     ld   a, l    
     and  07h
     ld   l, a    
     ld   de, 0006h
     add  hl, de  
     push hl      
     ld   hl, (089C2h) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, (08A5Bh) 
     ld   h, 00h
     inc  hl      
     ld   a, l    
     ld   (08A5Bh), a  
     jp   Label246

Label247:
     ld   hl, (089EAh) 
     ld   de, 00226h
     call Label16
     ld   a, l    
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     push hl      
     ld   hl, (089EAh) 
     ld   de, 0019h
     call Label16
     ld   a, l    
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     push hl      
     ld   hl, (086EDh) 
     ld   h, 00h
     xor  a       
     ld   de, 0FFDEh
     add  hl, de  
     ld   h, a    
     rla          
     ld   l, a    
     pop  de      
     ld   a, l    
     and  e       
     pop  de      
     or   e       
     ld   l, a    
     or   h       
     jp   z, Label248
     ld   hl, 006Ch
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     call Label15
     ld   de, 003Ch
     call Label16
     ld   de, 0028h
     add  hl, de  
     push hl      
     ld   hl, (089C0h) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     call Label15
     ld   de, 0007h
     call Label16
     ld   de, 0005h
     add  hl, de  
     push hl      
     ld   hl, (089C2h) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, (08A5Bh) 
     ld   h, 00h
     inc  hl      
     ld   a, l    
     ld   (08A5Bh), a  
     jp   Label246

Label248:
     ld   hl, (089EAh) 
     ld   de, 001C2h
     call Label16
     ld   a, l    
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     push hl      
     ld   hl, (089EAh) 
     ld   de, 0019h
     call Label16
     ld   a, l    
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     push hl      
     ld   hl, (timer1max) 
     ld   h, 00h
     xor  a       
     ld   de, 0FFE4h
     add  hl, de  
     ld   h, a    
     rla          
     ld   l, a    
     pop  de      
     ld   a, l    
     and  e       
     pop  de      
     or   e       
     ld   l, a    
     or   h       
     jp   z, Label249
     ld   hl, 006Ah
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     call Label15
     ld   de, 002Ah
     call Label16
     ld   de, 0022h
     add  hl, de  
     push hl      
     ld   hl, (089C0h) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     call Label15
     ld   de, 0009h
     call Label16
     ld   de, 0007h
     add  hl, de  
     push hl      
     ld   hl, (089C2h) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, (08A5Bh) 
     ld   h, 00h
     inc  hl      
     ld   a, l    
     ld   (08A5Bh), a  
     jp   Label246

Label249:
     ld   hl, (089EAh) 
     ld   de, 0015Eh
     call Label16
     ld   a, l    
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     push hl      
     ld   hl, (089EAh) 
     ld   de, 0019h
     call Label16
     ld   a, l    
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     push hl      
     ld   hl, (timer1max) 
     ld   h, 00h
     xor  a       
     ld   de, 0FFEBh
     add  hl, de  
     ld   h, a    
     rla          
     ld   l, a    
     pop  de      
     ld   a, l    
     and  e       
     pop  de      
     or   e       
     ld   l, a    
     or   h       
     jp   z, Label250
     ld   hl, 0069h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     call Label15
     ld   de, 0028h
     call Label16
     ld   de, 0014h
     add  hl, de  
     push hl      
     ld   hl, (089C0h) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     call Label15
     ld   de, 0007h
     call Label16
     ld   de, 0005h
     add  hl, de  
     push hl      
     ld   hl, (089C2h) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, (08A5Bh) 
     ld   h, 00h
     inc  hl      
     ld   a, l    
     ld   (08A5Bh), a  
     jp   Label246

Label250:
     ld   hl, (089EAh) 
     ld   de, 0096h
     call Label16
     ld   a, l    
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label251
     ld   hl, 0068h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     call Label15
     ld   de, 0019h
     call Label16
     ld   de, 0011h
     add  hl, de  
     push hl      
     ld   hl, (089C0h) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     call Label15
     ld   h, 00h
     ld   a, l    
     and  07h
     ld   l, a    
     ld   de, 0006h
     add  hl, de  
     push hl      
     ld   hl, (089C2h) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, (08A5Bh) 
     ld   h, 00h
     inc  hl      
     ld   a, l    
     ld   (08A5Bh), a  
     jp   Label246

Label251:
     ld   hl, (089EAh) 
     ld   de, 004Bh
     call Label16
     ld   a, l    
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label252
     ld   hl, 0067h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     call Label15
     ld   de, 0017h
     call Label16
     ld   de, 000Fh
     add  hl, de  
     push hl      
     ld   hl, (089C0h) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     call Label15
     ld   de, 0006h
     call Label16
     ld   de, 0004h
     add  hl, de  
     push hl      
     ld   hl, (089C2h) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, (08A5Bh) 
     ld   h, 00h
     inc  hl      
     ld   a, l    
     ld   (08A5Bh), a  
     jp   Label246

Label252:
     ld   hl, (089EAh) 
     ld   de, 0032h
     call Label16
     ld   a, l    
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label253
     ld   hl, 0066h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     call Label15
     ld   h, 00h
     ld   a, l    
     and  07h
     ld   l, a    
     ld   de, 0006h
     add  hl, de  
     push hl      
     ld   hl, (089C0h) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     call Label15
     ld   de, 0005h
     call Label16
     inc  hl      
     inc  hl      
     inc  hl      
     push hl      
     ld   hl, (089C2h) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, (08A5Bh) 
     ld   h, 00h
     inc  hl      
     ld   a, l    
     ld   (08A5Bh), a  
     jp   Label246

Label253:
     ld   hl, (089EAh) 
     ld   de, 0019h
     call Label16
     ld   a, l    
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     push hl      
     ld   hl, (timer1max) 
     ld   h, 00h
     xor  a       
     ld   de, 0FFFCh
     add  hl, de  
     ld   h, a    
     rla          
     ld   l, a    
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     or   h       
     jp   z, Label254
     ld   hl, 0065h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     call Label15
     ld   de, 0006h
     call Label16
     ld   de, 0004h
     add  hl, de  
     push hl      
     ld   hl, (089C0h) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     call Label15
     ld   de, 0003h
     call Label16
     inc  hl      
     push hl      
     ld   hl, (089C2h) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, (08A5Bh) 
     ld   h, 00h
     inc  hl      
     ld   a, l    
     ld   (08A5Bh), a  
     jp   Label246

Label254:
     ld   hl, (089EAh) 
     ld   de, 000Fh
     call Label16
     ld   a, l    
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label246
     ld   hl, 0064h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, 0001h
     push hl      
     ld   hl, (089C0h) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, 0001h
     push hl      
     ld   hl, (089C2h) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, (08A5Bh) 
     ld   h, 00h
     inc  hl      
     ld   a, l    
     ld   (08A5Bh), a  

Label246:
     ret          

Label179:
     ld   hl, (089BAh) 
     ld   de, 00E0h
     add  hl, de  
     ld   (089EAh), hl 
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, h    
     dec  l       
     dec  l       
     or   l       
     jr   z, Label255
     ld   hl, 0001h

Label255:
     ld   a, h    
     or   l       
     jp   z, Label256
     ld   hl, 0002h
     ld   a, l    
     ld   (08A43h), a  
     jp   Label257

Label256:
     ld   hl, 000Ch
     ld   a, l    
     ld   (08A43h), a  

Label257:
     ld   hl, (08A47h) 
     ld   h, 00h
     ld   a, l    
     or   h       
     jr   z, Label258
     ld   hl, 0001h

Label258:
     ld   a, h    
     or   l       
     jp   z, Label259
     ld   hl, (08A46h) 
     ld   h, 00h
     ld   d, h    
     ld   e, l    
     add  hl, hl  
     add  hl, de  
     ld   (089C4h), hl 
     ld   hl, (08A46h) 
     ld   h, 00h
     add  hl, hl  
     ld   (089CCh), hl 
     jp   Label260

Label259:
     ld   hl, (08A46h) 
     ld   h, 00h
     ld   de, 00199h
     call Label261
     ld   (089C4h), hl 
     ld   hl, (08A46h) 
     ld   h, 00h
     ld   de, 0099h
     call Label261
     ld   (089CCh), hl 

Label260:
     ld   hl, (089CCh) 
     ld   a, l    
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label262
     ld   hl, 0001h
     ld   (089CCh), hl 

Label262:
     ld   hl, (089EAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   (089E8h), hl 
     ld   hl, (089EAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     push hl      
     call Label15
     ld   de, (089C4h) 
     call Label16
     ld   de, (089CCh) 
     add  hl, de  
     pop  de      
     ex   de, hl  
     or   a       
     sbc  hl, de  
     push hl      
     ld   hl, (089EAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, (089EAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   de, (089E8h) 
     scf          
     sbc  hl, de  
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label263
     ld   hl, 0000h
     push hl      
     ld   hl, (089EAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 

Label263:
     ld   hl, (089EAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     xor  a       
     cp   l       
     sbc  hl, hl  
     inc  hl      
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     dec  l       
     ld   a, l    
     dec  a       
     or   h       
     jr   z, Label264
     sbc  hl, hl  

Label264:
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     or   h       
     jp   z, Label265
     call Label266
     ld   hl, 000Bh
     ld   a, l    
     ld   (08A43h), a  
     jp   Label267

Label265:
     ld   hl, (089EAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     xor  a       
     cp   l       
     sbc  hl, hl  
     inc  hl      
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, h    
     dec  l       
     dec  l       
     or   l       
     jr   z, Label268
     ld   hl, 0001h

Label268:
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     or   h       
     jp   z, Label267
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, l    
     sub  70h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label269
     ld   hl, 0001h
     ld   a, l    
     ld   (08A58h), a  
     jp   Label270

Label269:
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, l    
     sub  6Fh
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label270
     ld   hl, (08A59h) 
     ld   h, 00h
     dec  hl      
     ld   a, l    
     ld   (08A59h), a  

Label270:
     ld   hl, (089BAh) 
     ld   de, 00150h
     add  hl, de  
     ld   (089E8h), hl 
     ld   hl, (timer2) 
     ld   h, 00h
     push hl      
     ld   hl, (089E8h) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     pop  de      
     add  hl, de  
     ld   a, l    
     ld   (timer2), a  
     ld   hl, 000Dh
     ld   a, l    
     ld   (08A43h), a  
     ld   hl, 0000h
     push hl      
     ld   hl, (089EAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, 0000h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, 0000h
     push hl      
     ld   hl, (089E8h) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 

Label267:
     call Label271
     ret          

Label40:
     ld   hl, (08A4Bh) 
     ld   h, 00h
     ld   a, h    
     dec  l       
     or   l       
     jr   z, Label272
     ld   hl, 0001h

Label272:
     push hl      
     ld   hl, (08A51h) 
     ld   h, 00h
     ld   a, h    
     dec  l       
     or   l       
     jr   z, Label273
     ld   hl, 0001h

Label273:
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     or   h       
     jp   z, Label274
     ld   hl, 0070h
     jr   Label275

Label277:
     ld   hl, (089EAh) 
     inc  hl      

Label275:
     ld   (089EAh), hl 
     ex   de, hl  
     ld   hl, 00DFh
     or   a       
     sbc  hl, de  
     jp   c, Label276
     ld   hl, 0000h
     push hl      
     ld   hl, (089EAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     jr   Label277

Label276:
     ld   hl, 0000h
     jr   Label278

Label307:
     ld   hl, (089B6h) 
     inc  hl      

Label278:
     ld   (089B6h), hl 
     ex   de, hl  
     ld   hl, 0007h
     or   a       
     sbc  hl, de  
     jp   c, Label274
     ld   hl, (089B6h) 
     ld   a, l    
     sub  03h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label279
     call Label85

Label279:
     ld   hl, 0000h
     jr   Label280

Label306:
     ld   hl, (089B8h) 
     inc  hl      

Label280:
     ld   (089B8h), hl 
     ex   de, hl  
     ld   hl, 000Dh
     or   a       
     sbc  hl, de  
     jp   c, Label281
     call Label91
     ld   hl, 0000h
     ld   a, l    
     ld   (08A48h), a  
     ld   hl, (089BAh) 
     ld   de, 0070h
     add  hl, de  
     ld   (089EAh), hl 
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     xor  a       
     ld   de, 0FF9Ch
     add  hl, de  
     ld   h, a    
     rla          
     ld   l, a    
     push hl      
     ld   hl, (089EAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     xor  a       
     cp   l       
     sbc  hl, hl  
     inc  hl      
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     jp   z, Label282
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, l    
     ld   (08A60h), a  
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, l    
     sub  70h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     push hl      
     ld   hl, (089EAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     xor  a       
     cp   l       
     sbc  hl, hl  
     inc  hl      
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     jp   z, Label283
     ld   hl, 0001h
     push hl      
     ld   hl, (089EAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     call Label15
     ld   de, 0007h
     call Label16
     inc  hl      
     ld   (089D2h), hl 
     ld   a, l    
     sub  07h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label284
     call Label160

Label284:
     jp   Label285

Label283:
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, l    
     sub  68h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label285
     call Label15
     ld   de, 0003h
     call Label16
     inc  hl      
     ld   a, l    
     dec  a       
     or   h       
     jr   z, Label286
     sbc  hl, hl  

Label286:
     ld   a, h    
     or   l       
     jp   z, Label285
     ld   hl, 0000h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, 0000h
     push hl      
     ld   hl, (089BAh) 
     ld   de, 0070h
     add  hl, de  
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, 0000h
     push hl      
     ld   hl, (089BAh) 
     ld   de, 00E0h
     add  hl, de  
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, 0000h
     push hl      
     ld   hl, (089BAh) 
     ld   de, 00150h
     add  hl, de  
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, 0001h
     ld   a, l    
     ld   (08A5Fh), a  
     call Label160
     ld   hl, 0000h
     ld   a, l    
     ld   (08A5Fh), a  

Label285:
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, l    
     ld   (08A44h), a  
     ld   hl, (089BAh) 
     ld   de, 00E0h
     add  hl, de  
     ld   (089EAh), hl 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, l    
     ld   (08A45h), a  
     ld   hl, (089BAh) 
     ld   de, 00150h
     add  hl, de  
     ld   (089EAh), hl 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, l    
     ld   (08A49h), a  
     ld   hl, (089B6h) 
     ld   a, (08A41h)  
     ld   e, a    
     ld   d, 00h
     xor  a       
     sbc  hl, de  
     ld   h, a    
     rla          
     ld   l, a    
     push hl      
     ld   hl, (089B8h) 
     ld   a, (08A42h)  
     ld   e, a    
     ld   d, 00h
     xor  a       
     sbc  hl, de  
     ld   h, a    
     rla          
     ld   l, a    
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     push hl      
     ld   hl, (08A48h) 
     xor  a       
     cp   l       
     sbc  hl, hl  
     inc  hl      
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     jp   z, Label287
     call Label15
     xor  a       
     ld   h, a    
     inc  a       
     and  l       
     ld   l, a    
     inc  hl      
     ld   a, l    
     dec  a       
     or   h       
     jr   z, Label288
     sbc  hl, hl  

Label288:
     ld   a, h    
     or   l       
     jp   z, Label289
     call Label290
     jp   Label287

Label289:
     call Label291

Label287:
     ld   hl, (089B6h) 
     ld   a, (08A41h)  
     ld   e, a    
     ld   d, 00h
     scf          
     sbc  hl, de  
     sbc  hl, hl  
     inc  hl      
     push hl      
     ld   hl, (089B8h) 
     ld   a, (08A42h)  
     ld   e, a    
     ld   d, 00h
     xor  a       
     sbc  hl, de  
     ld   h, a    
     rla          
     ld   l, a    
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     push hl      
     ld   hl, (08A48h) 
     xor  a       
     cp   l       
     sbc  hl, hl  
     inc  hl      
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     jp   z, Label292
     call Label15
     xor  a       
     ld   h, a    
     inc  a       
     and  l       
     ld   l, a    
     inc  hl      
     ld   a, l    
     dec  a       
     or   h       
     jr   z, Label293
     sbc  hl, hl  

Label293:
     ld   a, h    
     or   l       
     jp   z, Label294
     call Label290
     jp   Label292

Label294:
     call Label295

Label292:
     ld   hl, (089B6h) 
     ld   a, (08A41h)  
     ld   e, a    
     ld   d, 00h
     xor  a       
     sbc  hl, de  
     ld   h, a    
     rla          
     ld   l, a    
     push hl      
     ld   hl, (089B8h) 
     ld   a, (08A42h)  
     ld   e, a    
     ld   d, 00h
     scf          
     sbc  hl, de  
     sbc  hl, hl  
     inc  hl      
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     push hl      
     ld   hl, (08A48h) 
     xor  a       
     cp   l       
     sbc  hl, hl  
     inc  hl      
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     jp   z, Label296
     call Label15
     xor  a       
     ld   h, a    
     inc  a       
     and  l       
     ld   l, a    
     inc  hl      
     ld   a, l    
     dec  a       
     or   h       
     jr   z, Label297
     sbc  hl, hl  

Label297:
     ld   a, h    
     or   l       
     jp   z, Label298
     call Label299
     jp   Label296

Label298:
     call Label291

Label296:
     ld   hl, (089B6h) 
     ld   a, (08A41h)  
     ld   e, a    
     ld   d, 00h
     scf          
     sbc  hl, de  
     sbc  hl, hl  
     inc  hl      
     push hl      
     ld   hl, (089B8h) 
     ld   a, (08A42h)  
     ld   e, a    
     ld   d, 00h
     scf          
     sbc  hl, de  
     sbc  hl, hl  
     inc  hl      
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     push hl      
     ld   hl, (08A48h) 
     xor  a       
     cp   l       
     sbc  hl, hl  
     inc  hl      
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     jp   z, Label300
     call Label15
     xor  a       
     ld   h, a    
     inc  a       
     and  l       
     ld   l, a    
     inc  hl      
     ld   a, l    
     dec  a       
     or   h       
     jr   z, Label301
     sbc  hl, hl  

Label301:
     ld   a, h    
     or   l       
     jp   z, Label302
     call Label295
     jp   Label300

Label302:
     call Label299

Label300:
     ld   hl, (089B6h) 
     ld   a, (08A41h)  
     ld   e, a    
     ld   d, 00h
     xor  a       
     sbc  hl, de  
     ld   h, a    
     rla          
     ld   l, a    
     push hl      
     ld   hl, (08A48h) 
     xor  a       
     cp   l       
     sbc  hl, hl  
     inc  hl      
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     jp   z, Label303
     call Label291

Label303:
     ld   hl, (089B6h) 
     ld   a, (08A41h)  
     ld   e, a    
     ld   d, 00h
     scf          
     sbc  hl, de  
     sbc  hl, hl  
     inc  hl      
     push hl      
     ld   hl, (08A48h) 
     xor  a       
     cp   l       
     sbc  hl, hl  
     inc  hl      
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     jp   z, Label304
     call Label295

Label304:
     ld   hl, (089B8h) 
     ld   a, (08A42h)  
     ld   e, a    
     ld   d, 00h
     xor  a       
     sbc  hl, de  
     ld   h, a    
     rla          
     ld   l, a    
     push hl      
     ld   hl, (08A48h) 
     xor  a       
     cp   l       
     sbc  hl, hl  
     inc  hl      
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     jp   z, Label305
     call Label290

Label305:
     ld   hl, (089B8h) 
     ld   a, (08A42h)  
     ld   e, a    
     ld   d, 00h
     scf          
     sbc  hl, de  
     sbc  hl, hl  
     inc  hl      
     push hl      
     ld   hl, (08A48h) 
     xor  a       
     cp   l       
     sbc  hl, hl  
     inc  hl      
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     jp   z, Label282
     call Label299

Label282:
     jp   Label306

Label281:
     jp   Label307

Label274:
     ld   hl, (08A53h) 
     xor  a       
     ld   h, a    
     or   l       
     jp   nz, Label308
     call Label15
     ld   de, 0007h
     call Label16
     inc  hl      
     ld   a, l    
     sub  07h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label308
     ld   hl, (08A5Ah) 
     ld   h, 00h
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     xor  a       
     ld   h, a    
     or   l       
     jp   nz, Label308
     ld   hl, 006Dh
     push hl      
     ld   hl, (08A5Ah) 
     ld   h, 00h
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, (08A5Ah) 
     ld   h, 00h
     ld   de, 00E0h
     add  hl, de  
     ld   (089C0h), hl 
     ld   de, 0070h
     add  hl, de  
     ld   (089C2h), hl 
     ld   hl, 00E1h
     push hl      
     ld   hl, (089C0h) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     call Label15
     xor  a       
     ld   h, a    
     inc  a       
     and  l       
     ld   l, a    
     inc  hl      
     push hl      
     ld   hl, (089C2h) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 

Label308:
     ld   hl, 0000h
     ld   a, l    
     ld   (08A51h), a  
     ret          

Label317:
     ld   hl, (08A44h) 
     ld   h, 00h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, (089BAh) 
     ld   de, 0070h
     add  hl, de  
     ld   (089EAh), hl 
     ld   hl, 0001h
     push hl      
     ld   hl, (089EAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, (089BAh) 
     ld   de, 00E0h
     add  hl, de  
     ld   (089EAh), hl 
     ld   hl, (08A45h) 
     ld   h, 00h
     push hl      
     ld   hl, (089EAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, (089BAh) 
     ld   de, 00150h
     add  hl, de  
     ld   (089EAh), hl 
     ld   hl, (08A49h) 
     ld   h, 00h
     push hl      
     ld   hl, (089EAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, 0001h
     ld   a, l    
     ld   (08A48h), a  
     ret          

Label319:
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, l    
     sub  63h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label309
     call Label310
     jp   Label311

Label309:
     ld   hl, 0001h
     ld   a, l    
     ld   (08A48h), a  

Label311:
     ret          

Label310:
     ld   hl, 0063h
     ld   a, l    
     ld   (08A43h), a  
     ld   hl, (timer2max) 
     ld   h, 00h
     ld   (089E8h), hl 
     ld   hl, (08A60h) 
     ld   h, 00h
     ld   a, l    
     sub  6Ch
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label312
     call Label313

Label312:
     ld   hl, (08A49h) 
     ld   h, 00h
     ld   de, 00199h
     call Label261
     ld   (089C4h), hl 
     ld   hl, (08A49h) 
     ld   h, 00h
     ld   de, 0099h
     call Label261
     ld   (089CCh), hl 
     ld   a, l    
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label314
     ld   hl, 0001h
     ld   (089CCh), hl 

Label314:
     ld   hl, (timer2max) 
     ld   h, 00h
     push hl      
     call Label15
     ld   de, (089C4h) 
     call Label16
     ld   de, (089CCh) 
     add  hl, de  
     pop  de      
     ex   de, hl  
     or   a       
     sbc  hl, de  
     ld   a, l    
     ld   (timer2max), a  
     ld   h, 00h
     ld   de, (089E8h) 
     scf          
     sbc  hl, de  
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label315
     ld   hl, 0000h
     ld   a, l    
     ld   (timer2max), a  

Label315:
     ld   hl, 0001h
     ld   a, l    
     ld   (08A48h), a  
     ret          

Label295:
     ld   hl, (089BAh) 
     ld   de, 0FFF2h
     add  hl, de  
     ld   (089BAh), hl 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     xor  a       
     ld   h, a    
     or   l       
     jp   nz, Label316
     call Label317
     ld   hl, (089BAh) 
     ld   de, 000Eh
     add  hl, de  
     ld   (089BAh), hl 
     ld   hl, 0000h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     jp   Label318

Label316:
     call Label319

Label318:
     ret          

Label291:
     ld   hl, (089BAh) 
     ld   de, 000Eh
     add  hl, de  
     ld   (089BAh), hl 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     xor  a       
     ld   h, a    
     or   l       
     jp   nz, Label320
     call Label317
     ld   hl, (089BAh) 
     ld   de, 0FFF2h
     add  hl, de  
     ld   (089BAh), hl 
     ld   hl, 0000h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     jp   Label321

Label320:
     call Label319

Label321:
     ret          

Label299:
     ld   hl, (089BAh) 
     dec  hl      
     ld   (089BAh), hl 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     xor  a       
     ld   h, a    
     or   l       
     jp   nz, Label322
     call Label317
     ld   hl, (089BAh) 
     inc  hl      
     ld   (089BAh), hl 
     ld   hl, 0000h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     jp   Label323

Label322:
     call Label319

Label323:
     ret          

Label290:
     ld   hl, (089BAh) 
     inc  hl      
     ld   (089BAh), hl 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     xor  a       
     ld   h, a    
     or   l       
     jp   nz, Label324
     call Label317
     ld   hl, (089BAh) 
     dec  hl      
     ld   (089BAh), hl 
     ld   hl, 0000h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     jp   Label325

Label324:
     call Label319

Label325:
     ret          

Label393:
     ld   hl, (timer2max) 
     ld   h, 00h
     ld   de, 0FF1Fh
     add  hl, de  
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label326
     ld   hl, (timer2max) 
     ld   h, 00h
     push hl      
     ld   hl, 0002h
     ld   a, (08A46h)  
     ld   e, a    
     ld   d, 00h
     call Label210
     pop  de      
     add  hl, de  
     ld   a, l    
     ld   (timer2max), a  
     jp   Label327

Label326:
     ld   hl, 00FAh
     ld   a, l    
     ld   (timer2max), a  

Label327:
     ret          

Label88:
     ld   hl, (08A3Fh) 
     ld   h, 00h
     ld   a, l    
     sub  0Bh
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     push hl      
     ld   hl, (08A4Ah) 
     ld   h, 00h
     ld   a, l    
     or   h       
     jr   z, Label328
     ld   hl, 0001h

Label328:
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     or   h       
     jp   z, Label329
     ld   hl, (08A4Ah) 
     ld   h, 00h
     dec  hl      
     ld   a, l    
     ld   (08A4Ah), a  
     jp   Label330

Label329:
     ld   hl, (08A3Fh) 
     ld   h, 00h
     ld   a, l    
     sub  0Ah
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     push hl      
     ld   hl, (08A4Ah) 
     ld   h, 00h
     ld   de, 0FFC1h
     add  hl, de  
     sbc  hl, hl  
     inc  hl      
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     jp   z, Label330
     ld   hl, (08A4Ah) 
     ld   h, 00h
     inc  hl      
     ld   a, l    
     ld   (08A4Ah), a  

Label330:
     ld   hl, (08A4Ah) 
     ld   h, 00h
     ld   a, l    
     or   0C0h
     out  (10h), a  
     ret          

Label271:
     ld   hl, 0000h
     ld   (089C2h), hl 
     ld   hl, (timer2) 
     ld   h, 00h
     push hl      
     ld   hl, 0005h
     ld   a, (08A46h)  
     ld   e, a    
     ld   d, 00h
     call Label210
     pop  de      
     ex   de, hl  
     or   a       
     sbc  hl, de  
     sbc  hl, hl  
     inc  hl      
     push hl      
     ld   hl, (08A46h) 
     ld   h, 00h
     ld   de, 0FFE9h
     add  hl, de  
     sbc  hl, hl  
     inc  hl      
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     jp   z, Label331
     ld   hl, 0001h
     ld   (089C2h), hl 
     ld   hl, 0000h
     ld   a, l    
     ld   (timer2), a  
     ld   hl, (08A46h) 
     ld   h, 00h
     inc  hl      
     ld   a, l    
     ld   (08A46h), a  
     ld   hl, (timer2max) 
     ld   h, 00h
     push hl      
     ld   hl, 0005h
     ld   a, (08A46h)  
     ld   e, a    
     ld   d, 00h
     call Label210
     pop  de      
     scf          
     sbc  hl, de  
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label332
     ld   hl, 0005h
     ld   a, (08A46h)  
     ld   e, a    
     ld   d, 00h
     call Label210
     ld   a, l    
     ld   (timer2max), a  

Label332:
     ld   hl, 0003h
     ld   a, l    
     ld   (08A43h), a  
     jp   Label333

Label331:
     ld   hl, (timer2) 
     ld   h, 00h
     xor  a       
     ld   de, 0FF1Eh
     add  hl, de  
     ld   h, a    
     rla          
     ld   l, a    
     or   h       
     jp   z, Label333
     ld   hl, 0001h
     ld   (089C2h), hl 
     ld   hl, 0000h
     ld   a, l    
     ld   (timer2), a  
     ld   hl, (08A46h) 
     ld   h, 00h
     inc  hl      
     ld   a, l    
     ld   (08A46h), a  
     ld   hl, (timer2max) 
     ld   h, 00h
     push hl      
     ld   hl, 0005h
     ld   a, (08A46h)  
     ld   e, a    
     ld   d, 00h
     call Label210
     pop  de      
     scf          
     sbc  hl, de  
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label333
     ld   hl, 0005h
     ld   a, (08A46h)  
     ld   e, a    
     ld   d, 00h
     call Label210
     ld   a, l    
     ld   (timer2max), a  

Label333:
     ld   hl, (089C2h) 
     ld   a, l    
     dec  a       
     or   h       
     jr   z, Label334
     sbc  hl, hl  

Label334:
     ld   a, h    
     or   l       
     jp   z, Label335
     ld   hl, 0001h
     jr   Label336

Label339:
     ld   hl, (089C2h) 
     inc  hl      

Label336:
     ld   (089C2h), hl 
     ex   de, hl  
     ld   hl, 000Ah
     or   a       
     sbc  hl, de  
     jp   c, Label335
     call Label337
     call Label21
     ld   hl, 0015Eh

Label338:
     djnz Label338
     dec  hl      
     ld   a, l    
     or   h       
     jr   nz, Label338
     jr   Label339

Label335:
     ret          

Label266:
     call Label15
     ld   de, 0014h
     call Label16
     inc  hl      
     ld   (089E8h), hl 
     ld   a, l    
     dec  a       
     or   h       
     jr   z, Label340
     sbc  hl, hl  

Label340:
     ld   a, h    
     or   l       
     jp   z, Label341
     ld   hl, 0009h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     jp   Label342

Label341:
     ld   hl, (089E8h) 
     ld   de, 0FFFBh
     add  hl, de  
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label343
     ld   hl, 0003h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     jp   Label342

Label343:
     ld   hl, (089E8h) 
     ld   de, 0FFF7h
     add  hl, de  
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label344
     ld   hl, 0004h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     jp   Label342

Label344:
     ld   hl, (089E8h) 
     ld   de, 0FFF5h
     add  hl, de  
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label345
     ld   hl, 0006h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     jp   Label342

Label345:
     ld   hl, (089E8h) 
     ld   de, 0FFF3h
     add  hl, de  
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label346
     ld   hl, 0007h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     jp   Label342

Label346:
     ld   hl, (089E8h) 
     ld   de, 0FFF2h
     add  hl, de  
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label347
     ld   hl, 0008h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     jp   Label342

Label347:
     ld   hl, (089E8h) 
     xor  a       
     ld   de, 0FFEDh
     add  hl, de  
     ld   h, a    
     rla          
     ld   l, a    
     or   h       
     jp   z, Label348
     ld   hl, 0005h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     jp   Label342

Label348:
     ld   hl, 0000h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 

Label342:
     ret          

Label175:
     ld   hl, 0012h
     jr   Label349

Label358:
     ld   hl, (089E8h) 
     inc  hl      

Label349:
     ld   (089E8h), hl 
     ex   de, hl  
     ld   hl, 0016h
     or   a       
     sbc  hl, de  
     jp   c, Label350
     ld   hl, (089E8h) 
     ld   de, statVars
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   de, 0FFFDh
     add  hl, de  
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label351
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     push hl      
     ld   hl, (089E8h) 
     ld   de, statVars
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, 0000h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, (089E8h) 
     ld   de, statVars
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, l    
     sub  03h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label352
     ld   hl, 0005h
     ld   a, l    
     ld   (08A43h), a  
     jp   Label351

Label352:
     ld   hl, (089E8h) 
     ld   de, statVars
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, l    
     sub  04h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label353
     ld   hl, 0006h
     ld   a, l    
     ld   (08A43h), a  
     jp   Label351

Label353:
     ld   hl, (089E8h) 
     ld   de, statVars
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, l    
     sub  05h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label354
     ld   hl, 0007h
     ld   a, l    
     ld   (08A43h), a  
     jp   Label351

Label354:
     ld   hl, (089E8h) 
     ld   de, statVars
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, l    
     sub  06h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label355
     ld   hl, 0008h
     ld   a, l    
     ld   (08A43h), a  
     jp   Label351

Label355:
     ld   hl, (089E8h) 
     ld   de, statVars
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, l    
     sub  07h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label356
     ld   hl, 0009h
     ld   a, l    
     ld   (08A43h), a  
     jp   Label351

Label356:
     ld   hl, (089E8h) 
     ld   de, statVars
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, l    
     sub  08h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label357
     ld   hl, 000Ah
     ld   a, l    
     ld   (08A43h), a  
     jp   Label351

Label357:
     ld   hl, (089E8h) 
     ld   de, statVars
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, l    
     sub  09h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label351
     ld   hl, 000Fh
     ld   a, l    
     ld   (08A43h), a  

Label351:
     jp   Label358

Label350:
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     xor  a       
     ld   h, a    
     or   l       
     jp   z, Label359
     ld   hl, 000Eh
     ld   a, l    
     ld   (08A43h), a  

Label359:
     ret          

Label90:
     ld   hl, 0000h
     ld   a, l    
     ld   (08A51h), a  
     ld   hl, 0004h
     push hl      
     ld   hl, 0005h
     push hl      
     ld   hl, 004Ch
     push hl      
     ld   hl, 0037h
     call Label208
     ld   hl, 0004h
     push hl      
     ld   hl, 0005h
     push hl      
     ld   hl, 004Ch
     push hl      
     ld   hl, 0037h
     ld   ix, appBackUpScreen
     call Label360
     ld   hl, 0009h
     push hl      
     ld   hl, 000Ah
     push hl      
     ld   hl, 0042h
     push hl      
     ld   hl, 002Dh
     call Label361
     ld   hl, 0009h
     push hl      
     ld   hl, 000Ah
     push hl      
     ld   hl, 0042h
     push hl      
     ld   hl, 002Dh
     ld   ix, appBackUpScreen
     call Label360
     ld   hl, 000Bh
     ld   (089E4h), hl 
     ld   hl, 000Bh
     push hl      
     ld   hl, (089E4h) 
     push hl      
     ld   hl, 003Eh
     push hl      
     ld   hl, 0007h
     ld   ix, appBackUpScreen
     call Label362
     call Label363
     call Label209

Label379:
     ld   hl, (08A51h) 
     ld   h, 00h
     ld   a, h    
     dec  l       
     or   l       
     jr   z, Label364
     ld   hl, 0001h

Label364:
     push hl      
     ld   hl, (08A51h) 
     ld   h, 00h
     ld   a, h    
     dec  l       
     dec  l       
     or   l       
     jr   z, Label365
     ld   hl, 0001h

Label365:
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     or   h       
     jp   z, Label366
     ld   hl, 0000h
     ld   a, l    
     ld   (08A3Fh), a  
     call Label363

Label369:
     ld   hl, (08A3Fh) 
     ld   h, 00h
     ld   a, l    
     sub  35h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     push hl      
     ld   hl, (08A3Fh) 
     ld   h, 00h
     ld   a, l    
     dec  a       
     or   h       
     jr   z, Label367
     sbc  hl, hl  

Label367:
     pop  de      
     ld   a, l    
     or   e       
     ld   l, a    
     push hl      
     ld   hl, (08A3Fh) 
     ld   h, 00h
     ld   a, l    
     sub  04h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     pop  de      
     ld   a, l    
     or   e       
     ld   l, a    
     push hl      
     ld   hl, (08A3Fh) 
     ld   h, 00h
     ld   a, l    
     sub  36h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     pop  de      
     ld   a, l    
     or   e       
     ld   l, a    
     or   h       
     jp   nz, Label368
     bcall(_GetCSC)     
     ld   h, 00h
     ld   l, a    
     ld   a, l    
     ld   (08A3Fh), a  
     call Label85
     jr   Label369

Label368:
     ld   hl, (08A3Fh) 
     ld   h, 00h
     ld   a, l    
     sub  36h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label370
     ld   hl, (089E4h) 
     dec  hl      
     dec  hl      
     ld   de, 0009h
     call Label171
     ld   de, 0011h
     add  hl, de  
     ld   (089EAh), hl 
     call Label371

Label370:
     ld   hl, (08A3Fh) 
     ld   h, 00h
     ld   a, l    
     dec  a       
     or   h       
     jr   z, Label372
     sbc  hl, hl  

Label372:
     push hl      
     ld   hl, (089E4h) 
     ld   de, 0FFD9h
     add  hl, de  
     sbc  hl, hl  
     inc  hl      
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     jp   z, Label373
     ld   hl, 000Bh
     push hl      
     ld   hl, (089E4h) 
     push hl      
     ld   hl, 003Eh
     push hl      
     ld   hl, 0007h
     ld   ix, appBackUpScreen
     call Label362
     ld   hl, 0009h
     ld   de, (089E4h) 
     add  hl, de  
     ld   (089E4h), hl 
     ld   hl, 000Bh
     push hl      
     ld   hl, (089E4h) 
     push hl      
     ld   hl, 003Eh
     push hl      
     ld   hl, 0007h
     ld   ix, appBackUpScreen
     call Label362
     jp   Label374

Label373:
     ld   hl, (08A3Fh) 
     ld   h, 00h
     ld   a, l    
     dec  a       
     or   h       
     jr   z, Label375
     sbc  hl, hl  

Label375:
     push hl      
     ld   hl, (089E4h) 
     xor  a       
     ld   de, 0FFD9h
     add  hl, de  
     ld   h, a    
     rla          
     ld   l, a    
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     or   h       
     jp   z, Label376
     ld   hl, 000Bh
     push hl      
     ld   hl, (089E4h) 
     push hl      
     ld   hl, 003Eh
     push hl      
     ld   hl, 0007h
     ld   ix, appBackUpScreen
     call Label362
     ld   hl, 000Bh
     ld   (089E4h), hl 
     ld   hl, 000Bh
     push hl      
     ld   hl, (089E4h) 
     push hl      
     ld   hl, 003Eh
     push hl      
     ld   hl, 0007h
     ld   ix, appBackUpScreen
     call Label362
     jp   Label374

Label376:
     ld   hl, (08A3Fh) 
     ld   h, 00h
     ld   a, l    
     sub  04h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     push hl      
     ld   hl, (089E4h) 
     xor  a       
     ld   de, 0FFECh
     add  hl, de  
     ld   h, a    
     rla          
     ld   l, a    
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     or   h       
     jp   z, Label377
     ld   hl, 000Bh
     push hl      
     ld   hl, (089E4h) 
     push hl      
     ld   hl, 003Eh
     push hl      
     ld   hl, 0007h
     ld   ix, appBackUpScreen
     call Label362
     ld   hl, (089E4h) 
     ld   de, 0FFF7h
     add  hl, de  
     ld   (089E4h), hl 
     ld   hl, 000Bh
     push hl      
     ld   hl, (089E4h) 
     push hl      
     ld   hl, 003Eh
     push hl      
     ld   hl, 0007h
     ld   ix, appBackUpScreen
     call Label362
     jp   Label374

Label377:
     ld   hl, (08A3Fh) 
     ld   h, 00h
     ld   a, l    
     sub  04h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     push hl      
     ld   hl, (089E4h) 
     ld   de, 0FFECh
     add  hl, de  
     sbc  hl, hl  
     inc  hl      
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     jp   z, Label374
     ld   hl, 000Bh
     push hl      
     ld   hl, (089E4h) 
     push hl      
     ld   hl, 003Eh
     push hl      
     ld   hl, 0007h
     ld   ix, appBackUpScreen
     call Label362
     ld   hl, 002Fh
     ld   (089E4h), hl 
     ld   hl, 000Bh
     push hl      
     ld   hl, (089E4h) 
     push hl      
     ld   hl, 003Eh
     push hl      
     ld   hl, 0007h
     ld   ix, appBackUpScreen
     call Label362

Label374:
     ld   hl, (08A3Fh) 
     ld   h, 00h
     ld   a, l    
     sub  35h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label378
     ld   hl, 0000h
     ld   a, l    
     ld   (08A3Fh), a  
     ld   hl, 0001h
     ld   a, l    
     ld   (08A51h), a  

Label378:
     jp   Label379

Label366:
     ret          

Label363:
     ld   hl, 0012h
     jr   Label380

Label391:
     ld   hl, (089E8h) 
     inc  hl      

Label380:
     ld   (089E8h), hl 
     ex   de, hl  
     ld   hl, 0016h
     or   a       
     sbc  hl, de  
     jp   c, Label381
     ld   hl, (089E8h) 
     ld   de, 0FFEFh
     add  hl, de  
     ld   d, h    
     ld   e, l    
     add  hl, hl  
     add  hl, hl  
     add  hl, hl  
     add  hl, de  
     inc  hl      
     inc  hl      
     ld   (089B6h), hl 
     ld   hl, (089E8h) 
     ld   de, statVars
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     xor  a       
     ld   de, 0FFFDh
     add  hl, de  
     ld   h, a    
     rla          
     ld   l, a    
     or   h       
     jp   z, Label382
     ld   hl, 0012h
     push hl      
     ld   hl, (089B6h) 
     push hl      
     ld   hl, (089E8h) 
     ld   de, statVars
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   de, 0007h
     add  hl, de  
     add  hl, hl  
     add  hl, hl  
     add  hl, hl  
     ld   de, Str72
     add  hl, de  
     call Label198
     ld   hl, 0012h
     push hl      
     ld   hl, (089B6h) 
     push hl      
     ld   hl, (089E8h) 
     ld   de, statVars
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   de, 000Fh
     add  hl, de  
     add  hl, hl  
     add  hl, hl  
     add  hl, hl  
     ld   de, Str72
     add  hl, de  
     push hl      
     pop  ix      
     ld   hl, flashByte1
     call Label188

Label382:
     ld   hl, (089E8h) 
     ld   de, statVars
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   de, 0FFFDh
     add  hl, de  
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label383
     ld   hl, 001Dh
     ld   (penCol), hl 
     ld   hl, (089B6h) 
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str99
     bcall(_VPutS)     
     jp   Label384

Label383:
     ld   hl, (089E8h) 
     ld   de, statVars
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, l    
     sub  03h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label385
     ld   hl, 001Dh
     ld   (penCol), hl 
     ld   hl, (089B6h) 
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str100
     bcall(_VPutS)     
     jp   Label384

Label385:
     ld   hl, (089E8h) 
     ld   de, statVars
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, l    
     sub  04h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label386
     ld   hl, 001Dh
     ld   (penCol), hl 
     ld   hl, (089B6h) 
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str101
     bcall(_VPutS)     
     jp   Label384

Label386:
     ld   hl, (089E8h) 
     ld   de, statVars
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, l    
     sub  05h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label387
     ld   hl, 001Dh
     ld   (penCol), hl 
     ld   hl, (089B6h) 
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str102
     bcall(_VPutS)     
     jp   Label384

Label387:
     ld   hl, (089E8h) 
     ld   de, statVars
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, l    
     sub  06h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label388
     ld   hl, 001Dh
     ld   (penCol), hl 
     ld   hl, (089B6h) 
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str103
     bcall(_VPutS)     
     jp   Label384

Label388:
     ld   hl, (089E8h) 
     ld   de, statVars
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, l    
     sub  07h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label389
     ld   hl, 001Dh
     ld   (penCol), hl 
     ld   hl, (089B6h) 
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str104
     bcall(_VPutS)     
     jp   Label384

Label389:
     ld   hl, (089E8h) 
     ld   de, statVars
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, l    
     sub  08h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label390
     ld   hl, 001Dh
     ld   (penCol), hl 
     ld   hl, (089B6h) 
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str105
     bcall(_VPutS)     
     jp   Label384

Label390:
     ld   hl, (089E8h) 
     ld   de, statVars
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, l    
     sub  09h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label384
     ld   hl, 001Dh
     ld   (penCol), hl 
     ld   hl, (089B6h) 
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str106
     bcall(_VPutS)     

Label384:
     jp   Label391

Label381:
     ret          

Label371:
     ld   hl, (089EAh) 
     ld   de, statVars
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, l    
     sub  03h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label392
     call Label393
     ld   hl, 0000h
     push hl      
     ld   hl, (089EAh) 
     ld   de, statVars
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, 0002h
     ld   a, l    
     ld   (08A51h), a  
     jp   Label394

Label392:
     ld   hl, (089EAh) 
     ld   de, statVars
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, l    
     sub  04h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label395
     call Label30
     call Label48
     ld   hl, 0000h
     push hl      
     ld   hl, (089EAh) 
     ld   de, statVars
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, 0002h
     ld   a, l    
     ld   (08A51h), a  
     jp   Label394

Label395:
     ld   hl, (089EAh) 
     ld   de, statVars
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, l    
     sub  05h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label396
     ld   hl, 0000h
     push hl      
     ld   hl, (089EAh) 
     ld   de, statVars
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, 00E2h
     ld   a, l    
     ld   (timer2), a  
     call Label271
     ld   hl, 0002h
     ld   a, l    
     ld   (08A51h), a  
     jp   Label394

Label396:
     ld   hl, (089EAh) 
     ld   de, statVars
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, l    
     sub  06h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label397
     ld   hl, 0000h
     push hl      
     ld   hl, (089EAh) 
     ld   de, statVars
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, 0002h
     ld   a, l    
     ld   (08A51h), a  
     call Label398
     jp   Label394

Label397:
     ld   hl, (089EAh) 
     ld   de, statVars
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, l    
     sub  07h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label399
     ld   hl, 0000h
     push hl      
     ld   hl, (089EAh) 
     ld   de, statVars
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, 0002h
     ld   a, l    
     ld   (08A51h), a  
     call Label400
     jp   Label394

Label399:
     ld   hl, (089EAh) 
     ld   de, statVars
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, l    
     sub  08h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label401
     ld   hl, 0000h
     push hl      
     ld   hl, (089EAh) 
     ld   de, statVars
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, 0002h
     ld   a, l    
     ld   (08A51h), a  
     call Label402
     jp   Label394

Label401:
     ld   hl, (089EAh) 
     ld   de, statVars
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, l    
     sub  09h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label394
     ld   hl, 0000h
     push hl      
     ld   hl, (089EAh) 
     ld   de, statVars
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, 0002h
     ld   a, l    
     ld   (08A51h), a  
     call Label403

Label394:
     ret          

Label48:
     ld   hl, (08A60h) 
     ld   h, 00h
     ld   a, l    
     sub  64h
     or   h       
     sub  01h
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label404
     ld   hl, 0000h
     jr   Label405

Label411:
     ld   hl, (089B6h) 
     inc  hl      

Label405:
     ld   (089B6h), hl 
     ex   de, hl  
     ld   hl, 0007h
     or   a       
     sbc  hl, de  
     jp   c, Label404
     ld   hl, 0000h
     jr   Label406

Label410:
     ld   hl, (089B8h) 
     inc  hl      

Label406:
     ld   (089B8h), hl 
     ex   de, hl  
     ld   hl, 000Dh
     or   a       
     sbc  hl, de  
     jp   c, Label407
     call Label91
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     xor  a       
     ld   de, 0FF9Ch
     add  hl, de  
     ld   h, a    
     rla          
     ld   l, a    
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     xor  a       
     ld   de, 0FFFEh
     add  hl, de  
     ld   h, a    
     rla          
     ld   l, a    
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   de, 0FF9Fh
     add  hl, de  
     sbc  hl, hl  
     inc  hl      
     pop  de      
     ld   a, l    
     and  e       
     pop  de      
     or   e       
     ld   l, a    
     or   h       
     jp   z, Label408
     call Label15
     xor  a       
     ld   h, a    
     inc  a       
     and  l       
     ld   l, a    
     inc  hl      
     dec  l       
     ld   a, l    
     dec  a       
     or   h       
     jr   z, Label409
     sbc  hl, hl  

Label409:
     ld   a, h    
     or   l       
     jp   z, Label408
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, l    
     sub  0C7h
     or   h       
     sub  01h
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label408
     ld   hl, 0000h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 

Label408:
     jp   Label410

Label407:
     jp   Label411

Label404:
     ld   hl, 0001h
     jr   Label412

Label417:
     ld   hl, (089C2h) 
     inc  hl      

Label412:
     ld   (089C2h), hl 
     ex   de, hl  
     ld   hl, 0032h
     or   a       
     sbc  hl, de  
     jp   c, Label413
     ld   hl, 0934Ch
     jr   Label414

Label416:
     ld   hl, (089C0h) 
     inc  hl      

Label414:
     ld   (089C0h), hl 
     ex   de, hl  
     ld   hl, 0963Fh
     or   a       
     sbc  hl, de  
     jp   c, Label415
     ld   hl, (089C0h) 
     ld   l, (hl) 
     ld   h, 00h
     push hl      
     call Label15
     ld   h, 00h
     ld   a, l    
     and  07h
     ld   l, a    
     ld   de, Str107
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     push hl      
     ld   hl, (089C0h) 
     ld   de, 0FFF4h
     add  hl, de  
     pop  de      
     ld   (hl), e 
     jr   Label416

Label415:
     call Label21
     jr   Label417

Label413:
     ld   hl, appBackUpScreen
     bcall(_BufClr)     
     bcall(_GrBufClr)     
     ret          

Label398:
     ld   hl, 0001h
     ld   a, l    
     ld   (08A47h), a  
     ld   hl, (timer2max) 
     ld   h, 00h
     ld   de, 0FF1Fh
     add  hl, de  
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label418
     ld   hl, (timer2max) 
     ld   h, 00h
     ld   a, (08A46h)  
     ld   e, a    
     ld   d, 00h
     add  hl, de  
     ld   a, l    
     ld   (timer2max), a  
     jp   Label419

Label418:
     ld   hl, 00FAh
     ld   a, l    
     ld   (timer2max), a  

Label419:
     ret          

Label400:
     call Label30
     ld   hl, 0001h
     jr   Label420

Label423:
     ld   hl, (089CAh) 
     inc  hl      

Label420:
     ld   (089CAh), hl 
     ex   de, hl  
     ld   hl, 0032h
     or   a       
     sbc  hl, de  
     jp   c, Label421
     call Label15
     ld   de, 0007h
     call Label16
     inc  hl      
     ld   (089B6h), hl 
     call Label15
     ld   de, 000Dh
     call Label16
     inc  hl      
     ld   (089B8h), hl 
     call Label91
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     xor  a       
     ld   h, a    
     or   l       
     jp   nz, Label422
     ld   hl, 0063h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, (089B6h) 
     ld   (089E4h), hl 
     ld   hl, (089B8h) 
     ld   (089E6h), hl 
     ld   hl, (08A41h) 
     ld   h, 00h
     ld   (089B6h), hl 
     ld   hl, (08A42h) 
     ld   h, 00h
     ld   (089B8h), hl 
     call Label91
     ld   hl, 0000h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, (089E4h) 
     ld   a, l    
     ld   (08A41h), a  
     ld   hl, (089E6h) 
     ld   a, l    
     ld   (08A42h), a  

Label422:
     jp   Label423

Label421:
     call Label15
     ld   de, 0061h
     call Label16
     ld   (089E4h), hl 
     call Label15
     ld   de, 0041h
     call Label16
     ld   (089E6h), hl 
     ld   hl, 0001h
     jr   Label424

Label433:
     ld   hl, (089CAh) 
     inc  hl      

Label424:
     ld   (089CAh), hl 
     ex   de, hl  
     ld   hl, 030D4h
     or   a       
     sbc  hl, de  
     jp   c, Label425
     call Label15
     ld   de, 0003h
     call Label16
     ld   (089D0h), hl 
     ld   a, h    
     or   l       
     jp   nz, Label426
     ld   hl, (089E4h) 
     srl  h       
     rr   l       
     ld   (089E4h), hl 
     ld   hl, (089E6h) 
     srl  h       
     rr   l       
     ld   (089E6h), hl 
     jp   Label427

Label426:
     ld   hl, (089D0h) 
     ld   a, l    
     dec  a       
     or   h       
     jr   z, Label428
     sbc  hl, hl  

Label428:
     ld   a, h    
     or   l       
     jp   z, Label429
     ld   hl, (089E4h) 
     ld   de, 0030h
     add  hl, de  
     srl  h       
     rr   l       
     ld   (089E4h), hl 
     ld   hl, (089E6h) 
     ld   de, 0FFBFh
     add  hl, de  
     srl  h       
     rr   l       
     ld   (089E6h), hl 
     jp   Label427

Label429:
     ld   hl, (089D0h) 
     dec  l       
     ld   a, l    
     dec  a       
     or   h       
     jr   z, Label430
     sbc  hl, hl  

Label430:
     ld   a, h    
     or   l       
     jp   z, Label427
     ld   hl, (089E4h) 
     ld   de, 0061h
     add  hl, de  
     srl  h       
     rr   l       
     ld   (089E4h), hl 
     ld   hl, (089E6h) 
     srl  h       
     rr   l       
     ld   (089E6h), hl 

Label427:
     ld   hl, (089E4h) 
     push hl      
     ld   hl, (089E6h) 
     call Label431
     or   (hl)    
     ld   (hl), a 
     ld   hl, (089CAh) 
     ld   de, 001F4h
     call Label16
     ld   a, h    
     or   l       
     jp   nz, Label432
     call Label209

Label432:
     jp   Label433

Label425:
     ret          

Label402:
     ld   hl, 0000h
     ld   a, l    
     ld   (08A52h), a  
     call Label30
     ld   hl, 0000h
     jr   Label434

Label442:
     ld   hl, (089B6h) 
     inc  hl      

Label434:
     ld   (089B6h), hl 
     ex   de, hl  
     ld   hl, 0007h
     or   a       
     sbc  hl, de  
     jp   c, Label435
     ld   hl, 0000h
     jr   Label436

Label441:
     ld   hl, (089B8h) 
     inc  hl      

Label436:
     ld   (089B8h), hl 
     ex   de, hl  
     ld   hl, 000Dh
     or   a       
     sbc  hl, de  
     jp   c, Label437
     call Label91
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   a, l    
     sub  6Dh
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label438
     ld   hl, 0000h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, 0028h
     jr   Label439

Label440:
     ld   hl, (089D2h) 
     inc  hl      

Label439:
     ld   (089D2h), hl 
     ex   de, hl  
     ld   hl, 0033h
     or   a       
     sbc  hl, de  
     jp   c, Label438
     ld   hl, (089B8h) 
     ld   d, h    
     ld   e, l    
     add  hl, hl  
     add  hl, de  
     add  hl, hl  
     push hl      
     ld   hl, (089B6h) 
     inc  hl      
     ld   d, h    
     ld   e, l    
     add  hl, hl  
     add  hl, de  
     add  hl, hl  
     add  hl, de  
     push hl      
     ld   hl, Str108
     call Label198
     ld   hl, (089B8h) 
     ld   d, h    
     ld   e, l    
     add  hl, hl  
     add  hl, de  
     add  hl, hl  
     push hl      
     ld   hl, (089B6h) 
     inc  hl      
     ld   d, h    
     ld   e, l    
     add  hl, hl  
     add  hl, de  
     add  hl, hl  
     add  hl, de  
     push hl      
     ld   hl, Str109
     push hl      
     pop  ix      
     ld   hl, flashByte1
     call Label188
     call Label21
     call Label85
     jr   Label440

Label438:
     jp   Label441

Label437:
     jp   Label442

Label435:
     ret          

Label403:
     ld   hl, 0001h
     ld   a, l    
     ld   (08A54h), a  
     ret          

Label106:
     ld   hl, 0000h
     ld   a, l    
     ld   (08A56h), a  
     ld   hl, (timer1max) 
     ld   h, 00h
     ld   a, l    
     sub  0Bh
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label443
     ld   hl, 0001h
     ld   a, l    
     ld   (08A56h), a  
     bcall(_GrBufClr)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0002h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str110
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 000Ah
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str111
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0012h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str112
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 001Ah
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str113
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0022h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str114
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0032h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str11
     bcall(_VPutS)     
     call Label21
     jp   Label444

Label443:
     ld   hl, (timer1max) 
     ld   h, 00h
     ld   a, l    
     sub  15h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label445
     ld   hl, 0001h
     ld   a, l    
     ld   (08A56h), a  
     bcall(_GrBufClr)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0002h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str115
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 000Ah
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str116
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0012h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str117
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 001Ah
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str118
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0022h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str119
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0032h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str11
     bcall(_VPutS)     
     call Label21
     jp   Label444

Label445:
     ld   hl, (timer1max) 
     ld   h, 00h
     ld   a, l    
     sub  1Fh
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label446
     ld   hl, 0001h
     ld   a, l    
     ld   (08A56h), a  
     bcall(_GrBufClr)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0002h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str120
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 000Ah
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str121
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0012h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str122
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 001Ah
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str123
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0022h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str124
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0032h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str11
     bcall(_VPutS)     
     call Label21
     jp   Label444

Label446:
     ld   hl, (timer1max) 
     ld   h, 00h
     ld   a, l    
     sub  3Dh
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label444
     ld   hl, 0001h
     ld   a, l    
     ld   (08A56h), a  
     bcall(_GrBufClr)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0002h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str125
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 000Ah
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str126
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0012h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str127
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 001Ah
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str128
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0022h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str129
     bcall(_VPutS)     
     ld   hl, 0001h
     ld   (penCol), hl 
     ld   hl, 0032h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str11
     bcall(_VPutS)     
     call Label21

Label444:
     ld   hl, (08A56h) 
     ld   h, 00h
     ld   a, l    
     dec  a       
     or   h       
     jr   z, Label447
     sbc  hl, hl  

Label447:
     ld   a, h    
     or   l       
     jp   z, Label448
     call Label22
     bcall(_GrBufClr)     
     ld   hl, 0000h
     ld   a, l    
     ld   (08A56h), a  

Label448:
     ret          

Label22:
     ld   hl, 0000h
     ld   a, l    
     ld   (08A3Fh), a  

Label450:
     ld   hl, (08A3Fh) 
     ld   h, 00h
     ld   a, l    
     sub  30h
     or   h       
     sub  01h
     sbc  hl, hl  
     inc  hl      
     push hl      
     ld   hl, (08A3Fh) 
     ld   h, 00h
     ld   a, l    
     sub  0Fh
     or   h       
     sub  01h
     sbc  hl, hl  
     inc  hl      
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     jp   z, Label449
     bcall(_GetCSC)     
     ld   h, 00h
     ld   l, a    
     ld   a, l    
     ld   (08A3Fh), a  
     jr   Label450

Label449:
     ret          

Label160:
     ld   hl, 0001h
     jr   Label451

Label459:
     ld   hl, (089D2h) 
     inc  hl      

Label451:
     ld   (089D2h), hl 
     ex   de, hl  
     ld   hl, 0032h
     or   a       
     sbc  hl, de  
     jp   c, Label452
     call Label15
     ld   de, 0007h
     call Label16
     inc  hl      
     ld   (089B6h), hl 
     call Label15
     ld   de, 000Dh
     call Label16
     inc  hl      
     ld   (089B8h), hl 
     call Label91
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     xor  a       
     ld   h, a    
     or   l       
     jp   nz, Label453
     ld   hl, (08A5Fh) 
     xor  a       
     ld   h, a    
     or   l       
     jp   nz, Label454
     ld   hl, (08A59h) 
     ld   h, 00h
     inc  hl      
     ld   a, l    
     ld   (08A59h), a  
     ld   hl, 006Fh
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, 0001h
     push hl      
     ld   hl, (089BAh) 
     ld   de, 0070h
     add  hl, de  
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, (089BAh) 
     ld   de, 00E0h
     add  hl, de  
     ld   (089C0h), hl 
     ld   de, 0070h
     add  hl, de  
     ld   (089C2h), hl 
     ld   hl, 001Eh
     push hl      
     ld   hl, (089C0h) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, 0003h
     push hl      
     ld   hl, (089C2h) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     jp   Label455

Label454:
     ld   hl, 0068h
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, 0001h
     push hl      
     ld   hl, (089BAh) 
     ld   de, 0070h
     add  hl, de  
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, (089BAh) 
     ld   de, 00E0h
     add  hl, de  
     ld   (089C0h), hl 
     ld   de, 0070h
     add  hl, de  
     ld   (089C2h), hl 
     call Label15
     ld   de, 0019h
     call Label16
     ld   de, 0011h
     add  hl, de  
     push hl      
     ld   hl, (089C0h) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     call Label15
     ld   h, 00h
     ld   a, l    
     and  07h
     ld   l, a    
     ld   de, 0006h
     add  hl, de  
     push hl      
     ld   hl, (089C2h) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 

Label455:
     ld   hl, 0028h
     jr   Label456

Label458:
     ld   hl, (089D2h) 
     inc  hl      

Label456:
     ld   (089D2h), hl 
     ex   de, hl  
     ld   hl, 0033h
     or   a       
     sbc  hl, de  
     jp   c, Label457
     ld   hl, (089B8h) 
     ld   d, h    
     ld   e, l    
     add  hl, hl  
     add  hl, de  
     add  hl, hl  
     push hl      
     ld   hl, (089B6h) 
     inc  hl      
     ld   d, h    
     ld   e, l    
     add  hl, hl  
     add  hl, de  
     add  hl, hl  
     add  hl, de  
     push hl      
     ld   hl, Str108
     call Label198
     ld   hl, (089B8h) 
     ld   d, h    
     ld   e, l    
     add  hl, hl  
     add  hl, de  
     add  hl, hl  
     push hl      
     ld   hl, (089B6h) 
     inc  hl      
     ld   d, h    
     ld   e, l    
     add  hl, hl  
     add  hl, de  
     add  hl, hl  
     add  hl, de  
     push hl      
     ld   hl, Str109
     push hl      
     pop  ix      
     ld   hl, flashByte1
     call Label188
     call Label21
     call Label85
     jr   Label458

Label457:
     ld   hl, 0001h
     ld   a, l    
     ld   (08A48h), a  

Label453:
     jp   Label459

Label452:
     ret          

Label163:
     call Label15
     ld   h, 00h
     ld   a, l    
     and  03h
     ld   l, a    
     inc  hl      
     ld   (089D6h), hl 
     jr   Label460

Label467:
     ld   hl, (089D4h) 
     inc  hl      

Label460:
     ld   (089D4h), hl 
     ex   de, hl  
     ld   hl, 0002h
     or   a       
     sbc  hl, de  
     jp   c, Label461
     ld   hl, 0001h
     jr   Label462

Label466:
     ld   hl, (089D2h) 
     inc  hl      

Label462:
     ld   (089D2h), hl 
     ex   de, hl  
     ld   hl, 0032h
     or   a       
     sbc  hl, de  
     jp   c, Label463
     call Label15
     ld   de, 0007h
     call Label16
     inc  hl      
     ld   (089B6h), hl 
     call Label15
     ld   de, 000Dh
     call Label16
     inc  hl      
     ld   (089B8h), hl 
     call Label91
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     ld   l, (hl) 
     xor  a       
     ld   h, a    
     or   l       
     jp   nz, Label464
     ld   hl, 0032h
     ld   (089D2h), hl 
     ld   hl, (089BAh) 
     ld   de, 00E0h
     add  hl, de  
     ld   (089C0h), hl 
     ld   de, 0070h
     add  hl, de  
     ld   (089C2h), hl 
     ld   hl, 006Eh
     push hl      
     ld   hl, (089BAh) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, (timer1max) 
     ld   h, 00h
     add  hl, hl  
     push hl      
     ld   hl, (089C0h) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, (timer1max) 
     ld   h, 00h
     xor  a       
     ld   de, 0FFFDh
     add  hl, de  
     ld   h, a    
     rla          
     ld   l, a    
     or   h       
     jp   z, Label465
     ld   hl, (timer1max) 
     ld   h, 00h
     ld   de, 0003h
     call Label171
     push hl      
     ld   hl, (089C2h) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 
     jp   Label464

Label465:
     ld   hl, 0001h
     push hl      
     ld   hl, (089C2h) 
     ld   de, saveSScreen
     add  hl, de  
     pop  de      
     ld   (hl), e 

Label464:
     jp   Label466

Label463:
     jp   Label467

Label461:
     ret          

Label313:
     ld   hl, (08A3Fh) 
     ld   h, 00h
     ld   a, l    
     sub  0Fh
     or   h       
     sub  01h
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label468
     ld   hl, 0000h
     ld   (089CEh), hl 

Label470:
     ld   hl, (089CEh) 
     xor  a       
     ld   de, 0FFE9h
     add  hl, de  
     ld   h, a    
     rla          
     ld   l, a    
     push hl      
     ld   hl, (089CEh) 
     ld   de, 0FFEEh
     add  hl, de  
     sbc  hl, hl  
     inc  hl      
     pop  de      
     ld   a, l    
     or   e       
     ld   l, a    
     or   h       
     jp   z, Label469
     call Label15
     ld   de, 0016h
     call Label16
     ld   de, 0012h
     add  hl, de  
     ld   (089CEh), hl 
     jr   Label470

Label469:
     ld   hl, (089CEh) 
     ld   de, statVars
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     xor  a       
     ld   de, 0FFFDh
     add  hl, de  
     ld   h, a    
     rla          
     ld   l, a    
     push hl      
     ld   hl, (089CEh) 
     ld   de, statVars
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   de, 0FFF6h
     add  hl, de  
     sbc  hl, hl  
     inc  hl      
     pop  de      
     ld   a, l    
     and  e       
     ld   l, a    
     jp   z, Label468
     ld   hl, 0001h
     jr   Label471

Label476:
     ld   hl, (089B6h) 
     inc  hl      

Label471:
     ld   (089B6h), hl 
     ex   de, hl  
     ld   hl, 002Dh
     or   a       
     sbc  hl, de  
     jp   c, Label472
     ld   hl, appBackUpScreen
     bcall(_BufClr)     
     bcall(_GrBufClr)     
     ld   hl, (089B6h) 
     push hl      
     ld   hl, 001Eh
     push hl      
     ld   hl, (089CEh) 
     ld   de, statVars
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   de, 0007h
     add  hl, de  
     add  hl, hl  
     add  hl, hl  
     add  hl, hl  
     ld   de, Str72
     add  hl, de  
     call Label198
     ld   hl, (089B6h) 
     push hl      
     ld   hl, 001Eh
     push hl      
     ld   hl, (089CEh) 
     ld   de, statVars
     add  hl, de  
     ld   l, (hl) 
     ld   h, 00h
     ld   de, 000Fh
     add  hl, de  
     add  hl, hl  
     add  hl, hl  
     add  hl, hl  
     ld   de, Str72
     add  hl, de  
     push hl      
     pop  ix      
     ld   hl, flashByte1
     call Label188
     ld   hl, 0001h
     jr   Label473

Label475:
     ld   hl, (089B8h) 
     inc  hl      

Label473:
     ld   (089B8h), hl 
     ex   de, hl  
     ld   hl, 0002h
     or   a       
     sbc  hl, de  
     jp   c, Label474
     call Label209
     jr   Label475

Label474:
     jr   Label476

Label472:
     ld   hl, 0001h
     jr   Label477

Label479:
     ld   hl, (089B8h) 
     inc  hl      

Label477:
     ld   (089B8h), hl 
     ex   de, hl  
     ld   hl, 0096h
     or   a       
     sbc  hl, de  
     jp   c, Label478
     call Label209
     jr   Label479

Label478:
     call Label48
     ld   hl, 0000h
     push hl      
     ld   hl, (089CEh) 
     ld   de, statVars
     add  hl, de  
     pop  de      
     ld   (hl), e 
     ld   hl, 0000h
     ld   a, l    
     ld   (08A60h), a  

Label468:
     ret          

Label73:
     ld   hl, 0019h
     jr   Label480

Label504:
     ld   hl, (089E8h) 
     inc  hl      

Label480:
     ld   (089E8h), hl 
     ex   de, hl  
     ld   hl, 0025h
     or   a       
     sbc  hl, de  
     jp   c, Label481
     ld   hl, 0001h
     jr   Label482

Label487:
     ld   hl, (089B6h) 
     inc  hl      

Label482:
     ld   (089B6h), hl 
     ex   de, hl  
     ld   hl, 002Dh
     or   a       
     sbc  hl, de  
     jp   c, Label483
     ld   hl, appBackUpScreen
     bcall(_BufClr)     
     bcall(_GrBufClr)     
     ld   hl, (089B6h) 
     push hl      
     ld   hl, 001Eh
     push hl      
     ld   hl, (089E8h) 
     add  hl, hl  
     add  hl, hl  
     add  hl, hl  
     ld   de, Str72
     add  hl, de  
     call Label198
     ld   hl, (089B6h) 
     push hl      
     ld   hl, 001Eh
     push hl      
     ld   hl, (089E8h) 
     ld   de, 000Dh
     add  hl, de  
     add  hl, hl  
     add  hl, hl  
     add  hl, hl  
     ld   de, Str72
     add  hl, de  
     push hl      
     pop  ix      
     ld   hl, flashByte1
     call Label188
     ld   hl, 0001h
     jr   Label484

Label486:
     ld   hl, (089B8h) 
     inc  hl      

Label484:
     ld   (089B8h), hl 
     ex   de, hl  
     ld   hl, 0002h
     or   a       
     sbc  hl, de  
     jp   c, Label485
     call Label209
     jr   Label486

Label485:
     jr   Label487

Label483:
     ld   hl, (089E8h) 
     ld   a, l    
     sub  19h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label488
     ld   hl, 002Ah
     ld   (penCol), hl 
     ld   hl, 0028h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str130
     bcall(_VPutS)     
     jp   Label489

Label488:
     ld   hl, (089E8h) 
     ld   a, l    
     sub  1Ah
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label490
     ld   hl, 001Bh
     ld   (penCol), hl 
     ld   hl, 0028h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str131
     bcall(_VPutS)     
     jp   Label489

Label490:
     ld   hl, (089E8h) 
     ld   a, l    
     sub  1Bh
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label491
     ld   hl, 0025h
     ld   (penCol), hl 
     ld   hl, 0028h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str132
     bcall(_VPutS)     
     jp   Label489

Label491:
     ld   hl, (089E8h) 
     ld   a, l    
     sub  1Ch
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label492
     ld   hl, 001Fh
     ld   (penCol), hl 
     ld   hl, 0028h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str133
     bcall(_VPutS)     
     jp   Label489

Label492:
     ld   hl, (089E8h) 
     ld   a, l    
     sub  1Dh
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label493
     ld   hl, 0023h
     ld   (penCol), hl 
     ld   hl, 0028h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str134
     bcall(_VPutS)     
     jp   Label489

Label493:
     ld   hl, (089E8h) 
     ld   a, l    
     sub  1Eh
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label494
     ld   hl, 001Bh
     ld   (penCol), hl 
     ld   hl, 0028h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str135
     bcall(_VPutS)     
     jp   Label489

Label494:
     ld   hl, (089E8h) 
     ld   a, l    
     sub  1Fh
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label495
     ld   hl, 0020h
     ld   (penCol), hl 
     ld   hl, 0028h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str136
     bcall(_VPutS)     
     jp   Label489

Label495:
     ld   hl, (089E8h) 
     ld   a, l    
     sub  20h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label496
     ld   hl, 0020h
     ld   (penCol), hl 
     ld   hl, 0028h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str137
     bcall(_VPutS)     
     jp   Label489

Label496:
     ld   hl, (089E8h) 
     ld   a, l    
     sub  21h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label497
     ld   hl, 000Fh
     ld   (penCol), hl 
     ld   hl, 0028h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str138
     bcall(_VPutS)     
     ld   hl, 0023h
     ld   (penCol), hl 
     ld   hl, 0030h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str139
     bcall(_VPutS)     
     jp   Label489

Label497:
     ld   hl, (089E8h) 
     ld   a, l    
     sub  22h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label498
     ld   hl, 001Ah
     ld   (penCol), hl 
     ld   hl, 0028h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str140
     bcall(_VPutS)     
     jp   Label489

Label498:
     ld   hl, (089E8h) 
     ld   a, l    
     sub  23h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label499
     ld   hl, 0023h
     ld   (penCol), hl 
     ld   hl, 002Ah
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str141
     bcall(_VPutS)     
     jp   Label489

Label499:
     ld   hl, (089E8h) 
     ld   a, l    
     sub  24h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label500
     ld   hl, 0027h
     ld   (penCol), hl 
     ld   hl, 0028h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str142
     bcall(_VPutS)     
     jp   Label489

Label500:
     ld   hl, (089E8h) 
     ld   a, l    
     sub  25h
     or   h       
     add  a, 0FFh
     sbc  hl, hl  
     inc  hl      
     ld   a, h    
     or   l       
     jp   z, Label489
     ld   hl, 0027h
     ld   (penCol), hl 
     ld   hl, 0028h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str143
     bcall(_VPutS)     

Label489:
     ld   hl, 0001h
     jr   Label501

Label503:
     ld   hl, (089B8h) 
     inc  hl      

Label501:
     ld   (089B8h), hl 
     ex   de, hl  
     ld   hl, 0012Ch
     or   a       
     sbc  hl, de  
     jp   c, Label502
     call Label85
     jr   Label503

Label502:
     call Label48
     jp   Label504

Label481:
     ret          

Label74:
     ld   hl, appBackUpScreen
     bcall(_BufClr)     
     bcall(_GrBufClr)     
     ld   hl, 003E8h

Label505:
     djnz Label505
     dec  hl      
     ld   a, l    
     or   h       
     jr   nz, Label505
     ld   a, (contrast)  
     add  a, 18h
     ld   l, a    
     ld   h, 00h
     ld   a, l    
     ld   (08A61h), a  
     ld   hl, 003Fh
     ld   a, l    
     or   0C0h
     out  (10h), a  
     call Label21
     ld   hl, 00BB8h

Label506:
     djnz Label506
     dec  hl      
     ld   a, l    
     or   h       
     jr   nz, Label506
     ld   hl, 002Dh
     push hl      
     ld   hl, 001Dh
     push hl      
     ld   hl, Str144
     call Label198
     ld   hl, 002Dh
     push hl      
     ld   hl, 001Dh
     push hl      
     ld   hl, Str145
     push hl      
     pop  ix      
     ld   hl, flashByte1
     call Label188
     call Label21
     ld   hl, 01B58h

Label507:
     djnz Label507
     dec  hl      
     ld   a, l    
     or   h       
     jr   nz, Label507
     ld   hl, 0000h
     jr   Label508

Label513:
     ld   hl, (089E4h) 
     inc  hl      

Label508:
     ld   (089E4h), hl 
     push hl      
     ld   hl, 003Fh
     ld   a, (08A61h)  
     ld   e, a    
     ld   d, 00h
     or   a       
     sbc  hl, de  
     pop  de      
     or   a       
     sbc  hl, de  
     jp   c, Label509
     ld   hl, 003Fh
     ld   de, (089E4h) 
     or   a       
     sbc  hl, de  
     ld   a, l    
     or   0C0h
     out  (10h), a  
     ld   hl, 0001h
     jr   Label510

Label512:
     ld   hl, (089E6h) 
     inc  hl      

Label510:
     ld   (089E6h), hl 
     ex   de, hl  
     ld   hl, 001Eh
     or   a       
     sbc  hl, de  
     jp   c, Label511
     call Label85
     jr   Label512

Label511:
     jr   Label513

Label509:
     ld   hl, 0001h
     jr   Label514

Label519:
     ld   hl, (089E4h) 
     inc  hl      

Label514:
     ld   (089E4h), hl 
     ex   de, hl  
     ld   hl, 0027h
     or   a       
     sbc  hl, de  
     jp   c, Label515
     ld   hl, appBackUpScreen
     bcall(_BufClr)     
     bcall(_GrBufClr)     
     ld   hl, (089E4h) 
     push hl      
     ld   hl, 001Eh
     push hl      
     ld   hl, Str146
     call Label198
     ld   hl, 002Dh
     push hl      
     ld   hl, 001Dh
     push hl      
     ld   hl, Str144
     call Label198
     ld   hl, 002Dh
     push hl      
     ld   hl, 001Dh
     push hl      
     ld   hl, Str145
     push hl      
     pop  ix      
     ld   hl, flashByte1
     call Label188
     call Label209
     ld   hl, 0001h
     jr   Label516

Label518:
     ld   hl, (089E6h) 
     inc  hl      

Label516:
     ld   (089E6h), hl 
     ex   de, hl  
     ld   hl, 000Fh
     or   a       
     sbc  hl, de  
     jp   c, Label517
     call Label85
     jr   Label518

Label517:
     jr   Label519

Label515:
     ld   hl, 0001h
     jr   Label520

Label525:
     ld   hl, (089E4h) 
     inc  hl      

Label520:
     ld   (089E4h), hl 
     ex   de, hl  
     ld   hl, 0020h
     or   a       
     sbc  hl, de  
     jp   c, Label521
     ld   hl, appBackUpScreen
     bcall(_BufClr)     
     bcall(_GrBufClr)     
     ld   hl, 0055h
     ld   de, (089E4h) 
     or   a       
     sbc  hl, de  
     push hl      
     ld   hl, 001Eh
     push hl      
     ld   hl, Str147
     call Label198
     ld   hl, 0055h
     ld   de, (089E4h) 
     or   a       
     sbc  hl, de  
     push hl      
     ld   hl, 001Eh
     push hl      
     ld   hl, Str148
     push hl      
     pop  ix      
     ld   hl, flashByte1
     call Label188
     ld   hl, 002Dh
     push hl      
     ld   hl, 001Dh
     push hl      
     ld   hl, Str144
     call Label198
     ld   hl, 002Dh
     push hl      
     ld   hl, 001Dh
     push hl      
     ld   hl, Str145
     push hl      
     pop  ix      
     ld   hl, flashByte1
     call Label188
     ld   hl, 0027h
     push hl      
     ld   hl, 001Eh
     push hl      
     ld   hl, Str146
     call Label198
     call Label209
     ld   hl, 0001h
     jr   Label522

Label524:
     ld   hl, (089E6h) 
     inc  hl      

Label522:
     ld   (089E6h), hl 
     ex   de, hl  
     ld   hl, 000Fh
     or   a       
     sbc  hl, de  
     jp   c, Label523
     call Label85
     jr   Label524

Label523:
     jp   Label525

Label521:
     ld   hl, 0014h
     ld   (penCol), hl 
     ld   hl, 0014h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str149
     bcall(_VPutS)     
     ld   hl, 0016h
     ld   (penCol), hl 
     ld   hl, 0028h
     ld   a, l    
     ld   (penRow), a  
     ld   hl, Str150
     bcall(_VPutS)     
     call Label21
     ld   hl, 0001h
     jr   Label526

Label528:
     ld   hl, (089E4h) 
     inc  hl      

Label526:
     ld   (089E4h), hl 
     ex   de, hl  
     ld   hl, 0012Ch
     or   a       
     sbc  hl, de  
     jp   c, Label527
     call Label85
     jr   Label528

Label527:
     ld   hl, 0000h
     jr   Label529

Label534:
     ld   hl, (089E4h) 
     inc  hl      

Label529:
     ld   (089E4h), hl 
     push hl      
     ld   hl, (08A61h) 
     ld   h, 00h
     pop  de      
     or   a       
     sbc  hl, de  
     jp   c, Label530
     ld   hl, (08A61h) 
     ld   h, 00h
     ld   de, (089E4h) 
     or   a       
     sbc  hl, de  
     ld   a, l    
     or   0C0h
     out  (10h), a  
     ld   hl, 0001h
     jr   Label531

Label533:
     ld   hl, (089E6h) 
     inc  hl      

Label531:
     ld   (089E6h), hl 
     ex   de, hl  
     ld   hl, 0014h
     or   a       
     sbc  hl, de  
     jp   c, Label532
     call Label85
     jr   Label533

Label532:
     jr   Label534

Label530:
     ld   hl, (08A61h) 
     ld   h, 00h
     ld   a, l    
     or   0C0h
     out  (10h), a  
     ld   hl, appBackUpScreen
     bcall(_BufClr)     
     bcall(_GrBufClr)     
     call Label21
     ret          

Label81:
     call Label2
     ret          

Label171:
     ld   b, 10h
     ld   a, d    
     or   a       
     jr   z, Label536
     ld   c, l    
     ld   a, h    
     sbc  hl, hl  

Label538:
     scf          
     rl   c       
     rla          
     adc  hl, hl  
     sbc  hl, de  
     jr   nc, Label537
     add  hl, de  
     dec  c       

Label537:
     djnz Label538
     ld   h, a    
     ld   l, c    
     ret          

Label536:
     add  hl, hl  
     rla          
     jr   c, Label539
     cp   e       
     jr   c, Label540

Label539:
     sub  e       
     inc  l       

Label540:
     djnz Label536
     ret          

Label16:
     ld   a, h    
     ld   c, l    
     ld   hl, 0000h
     ld   b, 10h

Label542:
     scf          
     rl   c       
     rla          
     adc  hl, hl  
     sbc  hl, de  
     jr   nc, Label541
     add  hl, de  
     dec  c       

Label541:
     djnz Label542
     ret          

Label431:
     ld   de, plotSScreen
     pop  af      
     pop  bc      
     push af      
     ld   b, 00h
     ld   a, l    
     cp   40h
     ld   a, b    
     ret  nc      
     ld   a, c    
     cp   60h
     ld   a, b    
     ret  nc      
     ld   h, b    
     ld   a, l    
     add  a, a    
     add  a, l    
     ld   l, a    
     add  hl, hl  
     add  hl, hl  
     add  hl, de  
     ld   a, c    
     srl  c       
     srl  c       
     srl  c       
     add  hl, bc  
     and  07h
     ld   b, a    
     ld   a, 80h
     ret  z       

Label543:
     rrca         
     djnz Label543
     ret          

Label15:
     ld   hl, (083CFh) 
     ld   a, r    
     ld   d, a    
     ld   e, (hl) 
     add  hl, de  
     ld   e, a    
     add  hl, de  
     ld   (083CFh), hl 
     ret          

Label21:
     ld   hl, plotSScreen

Label26:
     ld   c, 0F4h
     ld   a, 80h
     out  (10h), a  
     call Label544
     push af      

Label546:
     push hl      
     ld   a, c    
     add  a, 2Ch
     out  (10h), a  
     inc  de      
     ld   b, 40h

Label545:
     ld   a, (hl) 
     inc  de      
     dec  de      
     ld   de, 000Ch
     ld   a, (hl) 
     add  hl, de  
     out  (11h), a  
     djnz Label545
     pop  hl      
     inc  hl      
     inc  c       
     jr   nz, Label546
     pop  af      
     out  (20h), a  
     ret  c       
     ei           
     ret          

Label544:
     in   a, (02h)  
     rla          
     sbc  a, a    
     jr   z, Label547
     in   a, (20h)  

Label547:
     ld   b, a    
     xor  a       
     out  (20h), a  
     push af      
     pop  af      
     ld   a, i    
     di           
     ld   a, b    
     ret  pe      
     dec  sp      
     dec  sp      
     pop  af      
     or   a       
     ld   a, b    
     ret  nz      
     scf          
     ret          

Label198:
     push hl      
     pop  ix      
     ld   hl, 09335h

Label188:
     pop  af      
     pop  de      
     pop  bc      
     push af      
     ld   b, 07h
     ld   d, 00h
     ld   a, c    
     add  a, b    
     jr   c, Label548
     sub  67h
     ret  nc      
     cpl          
     cp   b       
     jr   nc, Label549
     inc  d       
     jr   Label550

Label548:
     add  a, 59h
     ld   c, a    

Label550:
     inc  d       

Label549:
     ld   a, e    
     add  a, b    
     jr   c, Label551
     sub  47h
     ret  nc      
     cpl          
     cp   b       
     jr   nc, Label552
     jr   Label553

Label551:
     inc  ix      
     inc  e       
     jr   nz, Label551

Label553:
     ld   b, a    

Label552:
     dec  d       
     jr   z, Label554
     inc  e       

Label554:
     push de      
     push hl      
     ld   d, 00h
     ld   h, d    
     ld   l, e    
     add  hl, hl  
     add  hl, de  
     add  hl, hl  
     add  hl, hl  
     ld   e, c    
     ld   a, e    
     srl  e       
     srl  e       
     srl  e       
     add  hl, de  
     pop  de      
     add  hl, de  
     pop  de      
     inc  b       
     and  07h
     jr   z, Label555
     ld   c, a    

Label559:
     push bc      
     ld   b, c    
     ld   c, (ix+00h)
     xor  a       

Label556:
     srl  c       
     rra          
     djnz Label556
     dec  d       
     jr   z, Label557
     or   (hl)    
     ld   (hl), a 

Label557:
     dec  hl      
     inc  d       
     jr   z, Label558
     ld   a, c    
     or   (hl)    
     ld   (hl), a 

Label558:
     ld   c, 0Dh
     add  hl, bc  
     inc  ix      
     pop  bc      
     djnz Label559
     ret          

Label555:
     dec  hl      
     ld   de, 000Ch

Label560:
     ld   a, (ix+00h)
     or   (hl)    
     ld   (hl), a 
     inc  ix      
     add  hl, de  
     djnz Label560
     ret          

Label337:
     ld   hl, plotSScreen

Label206:
     ld   bc, 0003h

Label561:
     ld   a, (hl) 
     cpl          
     ld   (hl), a 
     inc  hl      
     djnz Label561
     dec  c       
     jr   nz, Label561
     ret          

Label85:
     ld   hl, appBackUpScreen
     ld   de, plotSScreen
     ex   de, hl  
     call Label544
     push af      
     ld   a, 07h
     out  (10h), a  
     ld   a, (08A12h)  
     rra          
     sbc  a, a    
     xor  55h
     ld   (08A12h), a  
     ld   c, a    
     ld   a, 80h

Label563:
     push af      
     out  (10h), a  
     ex   (sp), hl
     ex   (sp), hl
     rrc  c       
     ld   b, 0Ch
     ld   a, 20h
     out  (10h), a  
     push af      
     pop  af      

Label562:
     inc  bc      
     dec  c       
     ld   a, (de) 
     and  c       
     or   (hl)    
     inc  de      
     inc  hl      
     out  (11h), a  
     ld   a, (hl) 
     djnz Label562
     pop  af      
     inc  a       
     bit  6, a    
     jr   z, Label563
     pop  af      
     out  (20h), a  
     ld   a, 05h
     out  (10h), a  
     ret  c       
     ei           
     ret          

Label212:
     bcall(_SetXXXXOP2)     
     bcall(_OP2ToOP1)     
     ld   a, 05h
     bcall(_DispOP1A)     
     ret          

Label209:
     ld   hl, appBackUpScreen
     ld   de, plotSScreen
     call Label544
     push af      
     push hl      
     ld   a, 07h
     out  (10h), a  
     ld   a, 0B6h
     ld   hl, 08A12h
     cp   (hl)    
     jr   z, Label564
     jr   c, Label565
     ld   a, 6Dh

Label564:
     scf          
     rla          

Label565:
     rla          
     ld   (hl), a 
     ex   af, af' 
     pop  hl      
     ld   a, 80h

Label567:
     out  (10h), a  
     push af      
     ex   (sp), hl
     ex   (sp), hl
     nop          
     ld   a, 20h
     out  (10h), a  
     ld   b, 0Ch

Label566:
     ex   af, af' 
     rra          
     ld   c, a    
     ex   af, af' 
     ld   a, (de) 
     xor  (hl)    
     and  c       
     xor  (hl)    
     inc  de      
     inc  hl      
     out  (11h), a  
     djnz Label566
     inc  bc      
     ex   af, af' 
     rra          
     ex   af, af' 
     pop  af      
     inc  a       
     bit  6, a    
     jr   z, Label567
     ld   a, 05h
     out  (10h), a  
     pop  af      
     out  (20h), a  
     ret  c       
     ei           
     ret          

Label261:
     ld   a, h    
     xor  d       
     push af      
     bit  7, h    
     jr   z, Label568
     xor  a       
     sub  l       
     ld   l, a    
     sbc  a, a    
     sub  h       
     ld   h, a    

Label568:
     bit  7, d    
     jr   z, Label569
     xor  a       
     sub  e       
     ld   e, a    
     sbc  a, a    
     sub  d       
     ld   d, a    

Label569:
     call Label210
     ld   l, h    
     ld   h, a    
     pop  af      
     xor  h       
     ret  p       
     xor  a       
     sub  l       
     ld   l, a    
     sbc  a, a    
     sub  h       
     ld   h, a    
     ret          

Label210:
     ld   c, h    
     ld   a, l    
     ld   hl, 0000h
     ld   b, 10h

Label571:
     add  hl, hl  
     rla          
     rl   c       
     jr   nc, Label570
     add  hl, de  
     adc  a, 00h
     jr   nc, Label570
     inc  c       

Label570:
     djnz Label571
     ret          

Label208:
     ld   ix, plotSScreen

Label360:
     pop  de      
     ex   de, hl  
     pop  bc      
     ld   b, e    
     pop  de      
     ex   (sp), hl
     ex   de, hl  
     ld   a, 60h
     sub  e       
     ret  c       
     ret  z       
     cp   c       
     jr   nc, Label572
     ld   c, a    

Label572:
     ld   a, 40h
     sub  l       
     ret  c       
     ret  z       
     cp   b       
     jr   nc, Label573
     ld   b, a    

Label573:
     xor  a       
     cp   b       
     ret  z       
     cp   c       
     ret  z       
     ld   h, a    
     ld   d, a    
     push bc      
     push ix      
     pop  bc      
     ld   a, l    
     add  a, a    
     add  a, l    
     ld   l, a    
     add  hl, hl  
     add  hl, hl  
     add  hl, bc  
     ld   a, e    
     srl  e       
     srl  e       
     srl  e       
     add  hl, de  
     and  07h
     pop  de      
     ld   b, a    
     add  a, e    
     sub  08h
     ld   e, 00h
     jr   c, Label574
     ld   e, a    
     xor  a       

Label574:
     add  a, 08h
     sub  b       
     ld   c, 00h

Label575:
     scf          
     rr   c       
     dec  a       
     jr   nz, Label575
     ld   a, c    
     inc  b       
     rlca         

Label576:
     rrca         
     djnz Label576

Label578:
     push hl      
     ld   b, d    
     ld   c, a    
     push de      
     ld   de, 000Ch

Label577:
     ld   a, c    
     or   (hl)    
     ld   (hl), a 
     add  hl, de  
     djnz Label577
     pop  de      
     pop  hl      
     inc  hl      
     ld   a, e    
     or   a       
     ret  z       
     sub  08h
     ld   e, b    
     jr   c, Label574
     ld   e, a    
     ld   a, 0FFh
     jr   Label578

Label361:
     ld   ix, plotSScreen

Label362:
     pop  de      
     ex   de, hl  
     pop  bc      
     ld   b, e    
     pop  de      
     ex   (sp), hl
     ex   de, hl  
     ld   a, 60h
     sub  e       
     ret  c       
     ret  z       
     cp   c       
     jr   nc, Label579
     ld   c, a    

Label579:
     ld   a, 40h
     sub  l       
     ret  c       
     ret  z       
     cp   b       
     jr   nc, Label580
     ld   b, a    

Label580:
     xor  a       
     cp   b       
     ret  z       
     cp   c       
     ret  z       
     ld   h, a    
     ld   d, a    
     push bc      
     push ix      
     pop  bc      
     ld   a, l    
     add  a, a    
     add  a, l    
     ld   l, a    
     add  hl, hl  
     add  hl, hl  
     add  hl, bc  
     ld   a, e    
     srl  e       
     srl  e       
     srl  e       
     add  hl, de  
     and  07h
     pop  de      
     ld   b, a    
     add  a, e    
     sub  08h
     ld   e, 00h
     jr   c, Label581
     ld   e, a    
     xor  a       

Label581:
     add  a, 08h
     sub  b       
     ld   c, 00h

Label582:
     scf          
     rr   c       
     dec  a       
     jr   nz, Label582
     ld   a, c    
     inc  b       
     rlca         

Label583:
     rrca         
     djnz Label583

Label585:
     push hl      
     ld   b, d    
     ld   c, a    
     push de      
     ld   de, 000Ch

Label584:
     ld   a, c    
     xor  (hl)    
     ld   (hl), a 
     add  hl, de  
     djnz Label584
     pop  de      
     pop  hl      
     inc  hl      
     ld   a, e    
     or   a       
     ret  z       
     sub  08h
     ld   e, b    
     jr   c, Label581
     ld   e, a    
     ld   a, 0FFh
     jr   Label585

Str2:

Label535:
     .db  0F3h, 0DBh, 06h, 0F5h, 0DBh, 02h, 17h, 0DAh, 86h, 0E1h, 0CDh
     .db  "X", 0E1h
     .db  "!s", 0E1h, 11h, 0A6h, 82h, 01h, 13h, 00h, 0EDh, 0B0h, 0C3h, 0A6h, 82h, 0CDh
     .db  "X", 0E1h
     .db  ">", 07h, 11h, 0B0h, 82h, 0D5h, 0E9h, 0EFh
     .db  "<O", 0F1h, 0D3h, 06h, 0FBh, 0E1h, 0C9h
     .db  ">", 80h, 0D3h, 06h
     .db  "!", 98h, 0E1h, 11h, 0A6h, 82h, 01h, 1Ah, 00h, 0EDh, 0B0h, 0C3h, 0A6h, 82h
     .db  "!", 00h
     .db  "@", 11h, 00h, 0C0h
     .db  "DM", 1Ah, 0EDh, 0A0h
     .db  "+w#", 0EAh, 0AEh, 82h, 0AFh, 0D3h, 05h, 0F1h, 0D3h, 06h, 0FBh, 0E1h, 0C9h

Str72:
     .db  7Eh, 0BFh, 0BFh, 99h, 0AAh, 0A9h, 0FBh, 7Eh

Str73:
     .db  7Eh, 0BFh, 0B5h, 0B5h, 0B5h, 0BBh, 0C7h, 7Eh, 0FCh, 84h, 0B4h, 0B4h, 84h, 0FCh, 00h, 00h, 0FCh, 0CCh, 84h, 84h, 0CCh, 0FCh, 00h, 00h, 0F8h, 0FCh, 0B4h, 0FCh, 7Ch, 0F8h
     .db  0ACh, 00h, 0ACh
     .db  "x", 0F8h, 0CCh, 0B4h, 0FCh, 0FCh, 00h
     .db  "x", 0D4h, 0ACh, 0D4h, 0ACh, 0FCh, 00h, 00h
     .db  "x", 0FCh, 0FCh, 0FCh, 0FCh, 0FCh, 00h, 00h

Str146:
     .db  "ppp", 0F8h, 0A8h
     .db  "p", 0D8h, 00h, 00h
     .db  "x", 0CCh, 84h, 0CCh
     .db  "x", 00h, 00h
     .db  "x", 0B4h, 0FCh, 0FCh, 0B4h
     .db  "x", 00h, 00h
     .db  "8(d", 94h, 90h
     .db  "`", 00h, 00h, 7Ch
     .db  "((DDD8", 00h, 00h, 14h
     .db  "(D", 0A8h, 0D0h
     .db  "`", 00h, 00h
     .db  "l", 10h
     .db  "(", 10h
     .db  "l", 00h, 00h, 00h, 00h, 00h, 10h
     .db  "8", 1Ch, 0Ch, 00h
     .db  "x", 0ECh, 0A4h, 94h, 0DCh
     .db  "x", 00h, 00h, 00h, 00h
     .db  "0x0", 00h, 00h, 00h, 00h
     .db  "H", 00h, 00h
     .db  "H", 00h, 00h, 00h, 00h, 00h, 00h
     .db  "``", 00h, 00h, 00h, 00h, 00h, 00h
     .db  "888", 00h, 00h, 00h, 00h, 10h
     .db  "8", 10h, 00h, 00h, 00h, 00h, 00h
     .db  "(", 10h
     .db  "(", 00h, 00h, 00h, 0A0h
     .db  "@", 0A0h
     .db  "`", 00h, 00h, 00h, 00h, 00h, 10h
     .db  "Xh ", 00h, 00h, 00h
     .db  "(88", 10h
     .db  "8Tl", 00h
     .db  "pPp", 88h, 0F8h
     .db  "P", 0D8h, 00h
     .db  " pp pp", 0D8h, 00h, 7Ch
     .db  "TT8", 7Ch
     .db  "(l", 00h
     .db  "x", 0CCh, 0B4h, 0B4h, 0CCh
     .db  "x0", 00h
     .db  "(8", 10h
     .db  "8T(l", 00h
     .db  "p", 0A8h, 0F8h
     .db  "pP", 0A8h, 0A8h, 00h, 00h, 00h, 0B4h, 0B4h
     .db  "xxH", 00h, 84h, 84h, 00h, 0B4h, 0B4h
     .db  "x", 0CCh, 00h

Str147:
     .db  00h
     .db  "P", 00h, 00h, 00h, 00h, 00h, 00h
     .db  "8", 7Ch
     .db  "T8", 00h
     .db  "8", 00h, 00h, 00h, 00h
     .db  "8T", 7Ch
     .db  "TD", 00h, 0CCh
     .db  "x", 0B4h
     .db  " 0", 94h, 0A4h, 00h
     .db  "(88", 10h
     .db  "8Tl", 00h, 00h
     .db  " ", 00h
     .db  "p", 00h, 88h, 00h, 00h
     .db  "P", 00h, 00h, 0D8h, 88h, 88h, 00h, 00h, 00h
     .db  "((D", 00h, 00h, 00h, 00h, 00h
     .db  "0HH0", 00h, 00h
     .db  "TDD(D(T", 00h, 00h, 00h, 00h, 00h, 00h, 0A8h
     .db  "PP", 00h
     .db  "T", 0FCh
     .db  "H", 00h, 84h, 00h, 00h, 00h
     .db  "0xx", 00h, 00h, 00h, 00h, 00h

Str148:

Label622:
     .db  "0(x", 0FCh, 0F8h, 7Ch
     .db  "8", 00h, 82h, 02h, 80h, 82h, 7Ch, 00h, 00h, 00h, 00h, 00h, 00h
     .db  "(", 00h
     .db  "(", 00h, 00h, 00h, 00h, 00h, 94h, 84h
     .db  " ", 10h, 00h

Str108:
     .db  " \", 84h, 88h
     .db  "HP0", 00h

Str109:

Label632:
     .db  18h, 00h
     .db  "8`0 ", 00h, 00h

Str71:
     .db  " ", 84h, 10h
     .db  "@", 08h
     .db  "@", 10h, 00h

Str144:

Label645:
     .db  00h
     .db  "l", 92h, 82h, 82h
     .db  "D(", 10h

Str145:
     .db  00h, 00h
     .db  "l", 7Ch, 7Ch
     .db  "8", 10h, 00h

Str74:
     .db  ">", 7Fh
     .db  "c", 7Fh
     .db  "cww", 7Fh

Str24:

Label646:
     .db  0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0F8h, 1Fh, 0FFh, 0FFh, 0FFh, 0F9h
     .db  0FFh, 0FFh, 0FFh, 0FFh, 00h, 1Fh, 0E0h, 0Fh, 0FFh, 0FFh, 0FFh, 0FCh, 0FFh, 0FFh, 0FFh, 0FFh, 00h, 1Fh, 0E0h, 07h, 1Fh, 0FFh, 0FFh, 0FCh, 0FFh, 0FFh, 0FFh, 0FFh, 00h, 1Fh
     .db  0E0h, 0C6h, 1Fh, 0FFh, 0FFh, 0FCh, 0FFh, 0FFh, 0FFh, 0FFh, 00h, 1Fh, 83h, 0FFh, 1Fh, 0FFh, 0FFh, 0FCh, 0FFh, 0FFh, 0FFh, 0FFh, 00h, 1Fh, 83h, 0FEh, 1Fh, 0FFh, 0FFh, 0FCh
     .db  0FFh, 0FFh, 0FFh, 0CFh, 00h, 1Fh, 87h, 0FEh, 1Fh, 0FFh, 0FFh, 0FCh, 0FFh, 0FFh, 7Fh, 07h, 00h, 1Fh, 0Fh, 0FEh, 1Fh, 0FFh, 0FFh, 0FCh, 07h, 86h, 02h, 07h, 00h, 1Fh
     .db  8Fh, 0FFh, 01h, 0F0h
     .db  "g", 0FCh, 03h, 06h, 02h, 7Fh, 0Ah, 1Fh, 83h, 0FFh, 00h, 0C0h
     .db  "p", 04h, 7Bh
     .db  "r2", 7Fh, 0Eh, 1Fh, 83h, 0FEh, 0Ch, 0C0h, 22h
     .db  "D", 0FBh
     .db  "s;", 1Fh, 0Eh, 1Fh, 0C3h
     .db  "%", 1Ch, 0DEh
     .db  "&d", 0FBh, 03h
     .db  "?", 0Fh, 04h, 1Fh, 0C0h, 04h, 1Ch
     .db  "O&d3??", 8Fh, 0Eh, 1Fh, 0E0h, 0Fh, 1Ch
     .db  "@&f", 03h
     .db  "??", 8Fh, 15h, 1Fh, 0F8h, 0Fh, 0FCh, 0C0h
     .db  "&f", 0Fh, 03h
     .db  "<", 0Fh, 1Bh, 1Fh, 0FFh, 0FFh, 0FCh, 0E1h
     .db  "?", 0E7h, 0FFh, 83h, 0FEh, 1Fh, 0FFh, 0FFh, 0FFh, 0FFh, 0FDh, 0FFh, 0FFh, 0EFh, 0FFh, 0F3h, 0FFh, 0FEh, 1Eh, 1Fh, 0FFh, 0FFh, 0FEh, 0FFh, 0FFh, 0EFh, 0FFh, 0FBh, 0FFh, 0FEh
     .db  1Ch, 0Fh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0F7h, 0FFh, 0FBh, 0FFh, 0FCh, 1Ch, 0Fh, 0FFh, 0FFh, 0FDh, 0FFh, 0FFh, 0EFh, 0FFh, 0FBh, 0FFh, 0FCh
     .db  "8", 0Fh, 0FFh, 0FFh, 0F9h, 0FFh, 0FFh, 0EFh, 0FFh, 0FBh, 0FFh, 0F8h
     .db  "p", 07h, 0FFh, 0FFh, 0FDh, 0FFh, 0FFh, 0EFh, 0FFh, 0FBh, 0FFh, 0F8h, 10h, 07h, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0EFh, 0FFh, 0FFh, 0FFh, 0F0h, 00h, 07h, 0FFh, 0FFh, 0FFh, 0FFh
     .db  0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0F0h, 00h, 03h, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0E0h, 00h, 03h, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0E0h
     .db  00h, 01h, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 7Fh, 0FFh, 0C0h, 00h, 01h, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0EEh, 0FFh, 7Fh, 0FFh, 0C0h, 00h, 01h, 0FBh, 0FCh
     .db  "G", 0FFh, 0FFh, 0EAh, 0FFh, 7Fh, 0FFh, 80h, 00h, 8Ah, 0F5h, 85h
     .db  "V", 0B7h
     .db  "+n", 0F7h
     .db  "?", 0FFh, 80h, 00h, 95h, 0F1h, 0ECh
     .db  "Vj", 0AAh, 0AAh, 0ABh
     .db  "U", 0FFh, 01h
     .db  " ", 16h, 0F5h, 0DDh
     .db  "V", 0EAh, 2Ah
     .db  "jgU", 0FFh, 12h, 19h
     .db  "C", 0F5h, 84h
     .db  "F", 0F7h, 0A3h, 2Ah, 0B3h
     .db  "9", 0FEh, 00h, 80h
     .db  "_", 0FFh, 0FFh, 0FFh, 0FEh, 7Fh, 0FFh, 0FFh, 0FDh, 0FEh
     .db  "Io", 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0F3h, 0FCh, 02h, 93h, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FEh, 2Ah, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh
     .db  0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0F9h, 7Bh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0F9h, 0FFh, 0FEh, 7Fh, 0FBh, 0F5h, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FAh, 0FFh, 0FEh, 0BFh, 0FBh, 0FFh
     .db  0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0F9h, 0ADh, 0CEh
     .db  "v", 0B3h, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FAh, 0AAh, 0D6h, 0AAh, 0ABh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FAh, 0CAh, 0D6h, 0ABh
     .db  "+", 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FAh, 0EDh
     .db  "Vw", 0B3h, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 9Fh, 0FFh, 0FEh, 7Fh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh
     .db  0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh
     .db  0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh
     .db  0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh
     .db  0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FEh, 7Fh, 0FFh, 0CDh, 0B9h, 0ADh, 9Dh, 0FEh, 0FFh, 0EFh, 0FFh, 0FFh, 0FEh, 0ABh
     .db  "d", 0DAh, 0BAh, 0AAh, 0D8h, 0DEh
     .db  "w9", 0FFh, 0FFh, 0FEh
     .db  "f", 0ADh, 0D8h, 0B9h, 88h, 0DDh, 0AEh, 0AAh, 0AAh, 0FFh, 0FFh, 0FEh, 0EEh
     .db  "v", 0DAh, 0BBh, 0AAh, 0DDh, 0AEh, 0A6h, 2Ah, 0FFh, 0FFh, 0FEh, 0EFh, 24h, 0CAh, 8Bh, 0AAh, 9Eh, 0DEh
     .db  "s", 0AAh, 0AAh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FEh, 7Fh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh
     .db  0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh, 0FFh

Str25:
     .db  "In your last breath,", 00h

Str26:
     .db  "frantic swarms of the", 00h

Str27:
     .db  "macabre and grotesque", 00h

Str28:
     .db  "bear down upon you.", 00h

Str29:
     .db  "You will see no mercy...", 00h

Str11:
     .db  "Press ", 0C1h
     .db  "ALPHA] to continue...", 00h

Str75:
     .db  "                              "
     .db  "                              "
     .db  "                      ", 00h

Str76:
     .db  "Ouch! A Wall!", 00h

Str81:
     .db  "You enter room ", 00h

Str82:

Label711:
     .db  "You locked the door...", 00h

Str83:
     .db  "The demon strikes!", 00h

Str84:
     .db  "You attack!", 00h

Str85:
     .db  "You grow stronger...", 00h

Str86:
     .db  "Darkness?!", 00h

Str87:
     .db  "You got a medkit.", 00h

Str88:
     .db  "You got a holybomb.", 00h

Str89:
     .db  "You got a strength boost.", 00h

Str90:
     .db  "You got a bezerker stim.", 00h

Str91:
     .db  "You got a teleporter.", 00h

Str92:
     .db  "You got a flare.", 00h

Str94:
     .db  "The container opens.", 00h

Str93:
     .db  "You kick the container.", 00h

Str95:

Label731:
     .db  "You slay the demon...", 00h

Str96:

Label734:
     .db  "Your inventory is full...", 00h

Str97:
     .db  "You got some speed...", 00h

Str98:
     .db  "Toxic gas!!!", 00h

Str64:
     .db  "CONGRATULATIONS!", 00h

Str51:
     .db  "THANKS FOR PLAYING!", 00h

Str52:

Label744:
     .db  "Special thanks to:", 00h

Str6:
     .db  "You were happy.", 00h

Str7:
     .db  "You loved your family.", 00h

Str8:

Label753:
     .db  "Enviable job.", 00h

Str9:

Label754:
     .db  "Nice home.", 00h

Str10:
     .db  "Fun friends...", 00h

Str12:
     .db  "But, you started to", 00h

Str13:
     .db  "hear things. Warnings.", 00h

Str14:
     .db  "Hell was on its way.", 00h

Str15:
     .db  "They locked you away.", 00h

Str16:
     .db  "A padded chamber.", 00h

Str17:
     .db  27h
     .db  "Asylum.", 27h, 00h

Str18:
     .db  "They said you were ill...", 00h

Str19:
     .db  "...until it happened...", 00h

Str20:

Label770:
     .db  "In your cell,", 00h

Str21:

Label773:
     .db  "you hear screams as", 00h

Str22:

Label774:
     .db  "the warnings come true...", 00h

Str23:
     .db  "The end of all...", 00h

Str30:
     .db  "Press ", 0C1h
     .db  "ALPHA] to start over...", 00h

Str31:
     .db  "You clasp your hands", 00h

Str32:
     .db  "together, bringing them", 00h

Str33:
     .db  "down in a final blow", 00h

Str34:
     .db  "upon the crown of the ", 00h

Str35:

Label809:
     .db  "almighty beast.", 00h

Str36:
     .db  "Bone and horn crackle", 00h

Str37:
     .db  "while a pool of black", 00h

Str38:
     .db  "blood spreads on the floor.", 00h

Str39:
     .db  "You inhale deeply.", 00h

Str40:
     .db  "You exhale deeply.", 00h

Str41:
     .db  "The room fills with demons", 00h

Str42:

Label816:
     .db  "of all forms.", 00h

Str43:
     .db  "You fall to your knees.", 00h

Str44:
     .db  "The odds are too great.", 00h

Str45:
     .db  "Everything fades...", 00h

Str46:
     .db  "The physician explains.", 00h

Str47:
     .db  "A schizophrenic episode.", 00h

Str48:
     .db  27h
     .db  "You caused quite the scene.", 27h, 00h

Str49:
     .db  "Heaven & hell are", 00h

Str50:
     .db  "but what we perceive.", 00h

Str53:
     .db  "the ticalc.org staff", 00h

Str54:
     .db  "&", 00h

Str55:

Label842:
     .db  "the ticalc.org users!", 00h

Str56:
     .db  "DJ Omnimaga", 00h

Str57:
     .db  "Builderboy", 00h

Str58:

Label846:
     .db  "Xeda Elnara", 00h

Str59:
     .db  "Matrefeytontias", 00h

Str60:
     .db  "Omnimaga.org", 00h

Str61:
     .db  "Cemetech.net", 00h

Str62:
     .db  "Roguelike Radio", 00h

Str63:
     .db  "...and you!", 00h

Str65:
     .db  "You locked ZERO doors! WOW!!!", 00h

Str66:
     .db  "You should try locking ", 00h

Str67:

Label866:
     .db  "all of the doors... :)", 00h

Str68:
     .db  "You locked all of the doors!", 00h

Str69:
     .db  "Now try locking NONE", 00h

Str70:
     .db  "of the doors!  :D", 00h

Str77:
     .db  "Hell hath no fury...", 00h

Str78:

Label869:
     .db  "The world is changing...", 00h

Str79:
     .db  "The world begins to swirl...", 00h

Str80:
     .db  "I cannot trust my eyes...", 00h

Str99:
     .db  "Empty...", 00h

Str100:

Label880:
     .db  "Medkit...", 00h

Str101:
     .db  "Holybomb...", 00h

Str102:
     .db  "Strength up...", 00h

Str103:
     .db  "Bezerker...", 00h

Str104:
     .db  "Teleporter...", 00h

Str105:
     .db  "Flare...", 00h

Str106:

Label889:
     .db  "Speed...", 00h

Str107:
     .db  0FEh, 0FDh, 0FBh, 0F7h, 0EFh, 0DFh, 0BDh, 7Fh

Str110:
     .db  "You feel an immense", 00h

Str111:
     .db  "pressure in your head.", 00h

Str112:
     .db  "Everything is starting", 00h

Str113:
     .db  "to change! Evil forces", 00h

Str114:
     .db  "are growing stronger...", 00h

Str115:
     .db  "As hell further merges", 00h

Str116:
     .db  "with earth, the walls", 00h

Str117:
     .db  "crawl with demonic murals.", 00h

Str118:

Label903:
     .db  "Do not trust your senses --", 00h

Str119:
     .db  "the world swirls with evil!", 00h

Str120:
     .db  "As you delve deeper,", 00h

Str121:
     .db  "an evil power seeks to", 00h

Str122:
     .db  "slow your progress. Your", 00h

Str123:
     .db  "perceptions mislead you!", 00h

Str124:
     .db  "Stay wary...", 00h

Str125:
     .db  "You hear a deep growl as", 00h

Str126:
     .db  "Satan himself appears", 00h

Str127:
     .db  "before you. He bellows", 00h

Str128:
     .db  27h
     .db  "There is no escape!", 00h

Str129:
     .db  "You must battle!", 27h, 00h

Str130:

Label935:
     .db  "Imp", 00h

Str131:
     .db  "Bulky Demon", 00h

Str132:
     .db  "Reaper", 00h

Str133:
     .db  27h
     .db  "roid Droid", 00h

Str134:
     .db  "Eyeball", 00h

Str135:
     .db  "Broccoli Rob", 00h

Str136:
     .db  "Squiddly!", 00h

Str137:
     .db  "Fire Fatty", 00h

Str138:
     .db  "Everybody walk the", 00h

Str139:

Label945:
     .db  "Minotaur", 00h

Str140:
     .db  "Spooky Pete :", 7Dh, 00h

Str141:
     .db  "The Vile", 00h

Str142:
     .db  "Minion", 00h

Str143:
     .db  "Satan", 00h

Str149:

Label950:
     .db  "Sometimes, love", 00h

Str150:
     .db  "can be SPOOKY :", 7Dh, 00h, 0C9h

.end
end
